@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: block;
    padding: 0 !important;
    position: relative;
    @include cursor(pointer);

    .line {
        display: flex;
        flex-flow: row wrap;
        background-color: var(--color-surface-glass);
        justify-content: center;

        .item {
            display: inline-flex;
            padding: 2em;
            width: 10em;
            height: 5em;
            align-items: center;
            justify-content: center;

            img, svg {
                width: 100%;
                color: var(--color-text-primary);
            }
        }
    }

    .modal {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: var(--color-surface-glass);
        opacity: 0;
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100%;
        transition: opacity var(--transition);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: .65em;
        flex-flow: row nowrap;
        gap: 1em;

        .slogan {
            max-width: 20rem;
            line-height: 1.4;
            text-align: center;
        }
        .actions {
            display: flex;
            flex-flow: row wrap;
            gap: 1em;

            .action {
                border-radius: 2em;
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }

    &:hover {
        .modal {
            opacity: 1;
        }
    }

    @media (max-width: 720px) {
        .line .item {
            width: 50vw;
        }
        .modal {
            flex-direction: column;

            .slogan {
                text-align: center;
            }
        }
    }
}