@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    .info {
        display: flex;
        flex: 1;
        gap: .3em;
        flex-flow: column nowrap;

        .title {
            font-size: 1.5em;
            font-weight: 600;
            letter-spacing: .025em;
            line-height: 1.2;
        }
        .description {
            font-size: .8em;
            line-height: 1.4;
        }
    }
    .actions {
        display: inline-flex;
        justify-content: right;
        align-items: center;
        flex-flow: row wrap;
        gap: .8em;
        font-size: .7em;

        .action {
            border-radius: 2em;
            border: none;
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.02);
            }
        }
    }


    &.accent {
        background-color: var(--color-accent) !important;
        color: var(--color-accent-text-primary);
    }
    &.orange {
        background-color: rgb(255, 99, 21) !important;
        color: var(--color-accent-text-primary);
    }
    &.center {
        flex-direction: column;

        .info {
            .title, .description {
                text-align: center;
            }
        }
        .actions {
            justify-content: center;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        gap: 1em;

        .actions {
            justify-content: start;
        }
        .info .title {
            font-size: 1.25em;
            line-height: 1.1;
        }
    }
}