@use '@/assets/styles/_mixins.scss' as *;

.container {
    // background: linear-gradient(90deg, var(--color-surface-glass), var(--color-surface-light));
    @include slide();
    @include cursor(pointer);
    background: var(--color-accent);
    z-index: 10;
    color: var(--color-accent-text-primary);

    .grid {
        display: flex;
        @include focus();
        height: 1.6rem;
        flex-flow: row nowrap;
        font-size: .37em;
        align-items: center;
        gap: .8em;
        overflow: hidden;

        .text {
            text-align: center;
            @include text-ellipsis();
            overflow: hidden;

            .underline {
                position: relative;
                text-decoration: none;
            }

            // .underline::after {
            //     content: '';
            //     position: absolute;
            //     bottom: 0px; /* расстояние от текста (минус — дальше) */
            //     left: 0;
            //     width: 100%;
            //     height: 3px; /* толщина линии */
            //     background-color: #e8551f; /* цвет линии */
            // }
        }
    }

    @media (max-width: 720px) {
        font-size: 1em;
    }
}