@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 3rem;
    padding-bottom: 1rem;
    min-height: 15rem;

    .focus {
        @include focus();
        flex-flow: row nowrap;
        gap: 1rem;

        @media (max-width: 720px) {
            font-size: .75em;
            flex-direction: column;
        }
    }
}

.col {
    display: flex;
    flex: 1;

    &:nth-child(1) {
        flex-flow: column nowrap;
        gap: 1em;
        flex: 1.4;

        .topic {
            @include topic-link();
            color: var(--color-brand);
        }
        .capture {
            font-size: 1.3em;
            font-weight: 800;
            line-height: 1.2;
            letter-spacing: .02em;

            .brand {
                color: var(--color-brand);
            }
        }
        .description {
            font-size: .7em;
            line-height: 1.3;

            .brand {
                font-weight: 600;
                color: var(--color-brand);
            }
        }

        @media (max-width: 720px) {
            .topic {
                font-size: .7em;
            }
        }
    }
    &:nth-child(2) {
        font-size: .5em;
    }
}