@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding: 2rem 0 2rem 0;
    height: fit-content;
    font-size: .7em;
    overflow: hidden;
    
    flex-flow: column nowrap;
    gap: 1em;
    overflow: hidden;

    @media (max-width: 720px) {
        padding-top: 0;
    }
}

.col {
    &:nth-child(1) {
        display: block;
        text-align: left;
        overflow-x: scroll;
        padding-left: calc((100vw - var(--focus-width)) / 2 + 2.5rem);
        @include no-scrollbar();

        .grid {
            display: inline-flex;
            width: fit-content;
            flex-flow: row nowrap;
            gap: 1em;
            margin-right: 10rem;

            .card {
                display: flex;
                width: 12em;
                height: 14em;
                border-radius: .6em;
                background-color: var(--color-surface-glass-secondary);
                border: 1px solid var(--color-stroke-secondary);
                @include cursor(pointer);
                transition: border-color var(--transition), background-color var(--transition);
                flex-flow: column nowrap;
                gap: .9em;
                padding: 2em 1em;
                overflow: hidden;
                text-align: left;

                .icon {
                    .circle {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 1.6em;
                        height: 1.6em;
                        border-radius: 50%;
                        background-color: var(--color-surface-glass-secondary);
                        border: 2px solid var(--color-brand);

                        .svg {
                            width: 50%;
                            height: 50%;
                            fill: var(--color-brand);
                        }
                    }
                }
                .capture {
                    font-weight: 600;
                    letter-spacing: .02em;
                }
                .description {
                    font-size: .6em;
                    line-height: 1.3;
                    color: var(--color-text-secondary);
                }

                &:nth-child(1) {
                    background: linear-gradient(135deg, var(--color-surface-glass-secondary), var(--color-brand));
                }
                &:hover {
                    border-color: var(--color-brand);
                    background-color: var(--color-surface-primary);
                }
            }
        }

        @media (max-width: 720px) {
            padding-left: 1rem;

            .grid {
                margin-right: 1rem;
            }
        }
    }
    &:nth-child(2) {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        gap: 1em;

        .circle {
            width: 2em;
            height: 2em;
            border: 1px solid var(--color-stroke-secondary);
            border-radius: 50%;
            background-color: var(--color-surface-glass-secondary);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include cursor(pointer);
            transition: background-color var(--transition);

            .svg {
                width: 24%;
                height: 24%;
                fill: var(--color-icon-primary);
                transition: fill var(--transition);
                transform: translateX(10%);
            }

            &:nth-child(1) {
                .svg {
                    transform: rotate(180deg) translateX(10%);
                }
            }

            &:hover {
                background-color: var(--color-surface-secondary);
            }
        }
    }
}