@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    flex-flow: row nowrap;
    padding: 1em 0;
    border-top: 1px solid var(--color-stroke-secondary);
    display: none;

    .info {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;

        .name {
            line-height: 1.2;
            color: var(--color-text-ghost);
            font-size: .9em;
        }
        .description {
            font-size: .8em;
            line-height: 1.3;
            color: var(--color-text-description);
        }
    }
}