@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    min-height: 100%;
    font-size: .7em;
    gap: 1rem;
    padding: .5rem 0;
    color: var(--color-text-secondary);
}
.section {
    display: flex;
    flex-flow: column nowrap;
    gap: .8em;

    .capture {
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: .04em;
    }
}

// Themization
.themes {
    display: flex;
    flex-flow: row wrap;
    gap: .6rem;
    justify-content: start;
    margin-top: .2rem;

    .item {
        width: calc(100%/3 - .6rem);
        aspect-ratio: 16/11;
        
        &.active, &:hover {
            border-color: var(--color-blue);
            border-width: 2px;
        }
        
        @media (max-width: 720px) {
            width: 100%;
            height: auto;
            aspect-ratio: 16/12;
        }
    }
}