@use '@/assets/styles/_mixins.scss' as *;

.control {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: .7em;
    justify-content: start;
    margin-bottom: 1.5em;

    .input {
        flex: .5;
    }
    .action {
        flex: 1;
    }

    .input, .action {
        max-width: 13em;
    }

    @media (max-width: 720px) {
        flex-flow: row wrap;

        .input {
            width: 40%;
            flex: .5;
        }
        .action {
            width: 100%;
            flex: 1;
            min-width: 100%;
        }
        .input, .action {
            min-height: 2.8em;
        }
    }
}

.grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    padding: 1em 0;
    font-size: .8em;

    .section {
        display: flex;
        min-height: 10rem;
    }

    .section.counters {
        flex-flow: column nowrap;
        gap: 1em;
        display: inline-flex;
        width: fit-content;
        align-items: start;
    }
    .section.graph {
        flex: 1;
        // border: 1px solid var(--color-stroke-secondary);
    }
}