@use '@/assets/styles/_mixins.scss' as *;

.widget {
    display: flex;
    flex-flow: column nowrap;
    gap: .8em;
    padding: .4em .2em;
    
    .line {
        display: flex;
        overflow: hidden;
        height: .5em;
        flex-flow: row nowrap;
        border-radius: 1em;
        background-color: var(--color-surface-secondary);

        span {
            display: flex;
            background-color: var(--color-accent);
            width: 20%;
            border-radius: 1em;
            // background: linear-gradient(270deg, var(--color-accent), transparent);
        }
    }
    .text {
        font-size: .8em;
        color: var(--color-text-ghost);
        line-height: 1.35;
        padding: 0 .8em;
    }
}