@use '@/assets/styles/_mixins.scss' as *;

.grid {
    display: flex;
    flex-flow: column nowrap;
    padding: 0em 0;
    gap: 1em;

    .item {
        border-bottom: 1px solid var(--color-stroke-secondary);
    }
}