@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: block;
    // overflow-x: scroll;
    // white-space: nowrap;
    // border: 1px dashed red;
    // padding-top: 0 !important;
    // padding-bottom: 0 !important;
    min-height: 100%;
    
    .grid {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        justify-content: start;
        align-items: start;
    }
}