@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    min-height: 100%;
    justify-content: start;
    flex-flow: column nowrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
    gap: .5rem;

    .control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        min-height: 3rem;
        font-size: .65em;

        .action {
            border-radius: 2em;
            height: 3em;
        }
    }

    .wrap {
        display: block;
        padding: 0 1rem;

        .grid {
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
            justify-content: start;
            align-items: start;
        }
    }

    @media (max-width: 720px) {
        
        .wrap {
            overflow-x: scroll;
            padding: 0 1rem;
            @include no-scrollbar();

            .grid {
                font-size: 1.1em;
                width: fit-content;
                margin-right: 2rem;
            }
        }
    }
}