@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;
    
    .capture {
        font-size: .85em;
        font-weight: 600;
        letter-spacing: .025em;
    }
    .description {
        line-height: 1.4;
        font-size: .63em;
        color: var(--color-text-ghost);
    }
}