@use '@/assets/styles/_mixins.scss' as *;

.container {
    @include slide();
    flex: 1;
    padding: 0;
}
.grid {
    @include focus();
    padding: 0 1px;
    background-color: var(--color-stroke-secondary);
    flex: 1;
    flex-flow: column nowrap;
    gap: 1px;

    .block {
        background-color: var(--color-leader);
        font-size: .6em;
        padding: 2.5rem 2rem;

        // sections head
        &.block {
            background-color: var(--color-leader);
        }
    }

    .interval {
        background-color: var(--color-leader);
        height: 5rem;
    }

    @media (max-width: 720px) {
        padding: 0;
        
        .block {
            padding: 1.5rem 1rem;
            font-size: .55em;
        }
    }
}

// dynamics 2 sections grid
.dynamicsGrid {
    display: flex;
    flex-flow: row nowrap;
    gap: 1px;

    .block {
        min-height: 15rem;

        &:nth-child(1) {
            flex: 1;
        }
        &:nth-child(2) {
            flex: 1.5;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
    }
}