@use '@/assets/styles/_mixins.scss' as *;

.grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    padding: 1em 0;
    font-size: .8em;

    .section {
        display: flex;
        min-height: 10rem;
    }

    .section.counters {
        flex-flow: column nowrap;
        gap: 1em;
        display: inline-flex;
        width: fit-content;
        align-items: start;
    }
    .section.graph {
        width: 100%;
        flex: 1;
        // border: 1px solid var(--color-stroke-secondary);
    }
}