@use '@/assets/styles/_mixins.scss' as *;

.timeline {
    display: flex;
    height: 2px;
    background-color: var(--color-accent);
    z-index: 10;
    justify-content: end;
    transition: top var(--transition);

    .trigger {
        display: inline-flex;
        height: .7em;
        width: 2em;
        margin-right: -1em;
        margin-top: calc(-.25em - 0px);
        background-color: var(--color-surface-light);
        border-radius: 2em;
        @include cursor(pointer);
        transition: background-color var(--transition);
        border: 1px solid var(--color-stroke-primary);

        &:hover {
            background-color: var(--color-accent);
            border-color: var(--color-accent);
        }

        &.dragging {
            background-color: var(--color-accent);
            border-color: var(--color-accent);
            box-shadow: 0 0 10px rgba(var(--color-accent-rgb), 0.3);
        }
    }
}