@use '@/assets/styles/_mixins.scss' as *;

.log {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
    @include cursor(pointer);
    padding: 0 .5em;
    transition: background-color var(--transition);

    .timestamp {
        color: var(--color-text-description);
    }
    .scale {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: start;
        gap: .3em;

        .col {
            width: .6em;
            height: 1.2em;
            background-color: var(--color-surface-light);
            border-radius: .3em;

            &.accent {
                background-color: var(--color-accent);
            }
        }
    }
    .name {
        color: var(--color-text-primary);
        flex: 1;
    }
    .link {
        color: var(--color-text-hint);
    }
    .key {
        color: var(--color-text-primary);
        flex: 1;
    }
    svg {
        fill: var(--color-accent);
        width: 1.2em;
        height: 1.2em;

        &.error {
            fill: var(--color-red);
        }
    }

    &:hover {
        background-color: var(--color-surface-glass-secondary);
    }
}

.base {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
    min-height: 2.7em;
}
.details {
    display: flex;
    padding-bottom: 3em;
    // flex-flow: row wrap;
    flex-flow: column nowrap;
    font-size: .84em;
    gap: 1.2em;

    .group {
        display: flex;
        flex-flow: column nowrap;
        gap: 0em;
        // width: calc(50% - .6em);

        .capture {
            margin-bottom: .5em;
        }
    }

    .section {
        display: flex;
        flex-flow: column nowrap;
        gap: .3em;
        padding: .4em 0;
        border-bottom: 1px solid var(--color-stroke-secondary);

        .key {
            color: var(--color-text-primary);
            line-height: 1.3;
        }
        .value {
            color: var(--color-text-ghost);
            line-height: 1.3;
        }
    }

    .section.stroke {
        flex-direction: row;
        align-items: start;
    }
}