@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 1rem;
    padding-bottom: 3rem;

    .focus {
        @include focus();
        flex-flow: column nowrap;
        gap: 1rem;
        max-width: 47rem;
        border: 1px solid var(--color-stroke-secondary);

        @media (max-width: 720px) {
            font-size: .75em;
            flex-direction: column;
        }
    }
}

.col {
    display: flex;
    position: relative;
    
    &:nth-child(1) {
        flex: 1;
        flex-flow: row wrap;
        background-color: var(--color-stroke-secondary);
        gap: 1px;

        .card {
            display: flex;
            width: calc((100% - 2px) / 3);
            background-color: var(--color-leader);
            min-height: 30rem;
            @include cursor(pointer);
            background-color: var(--color-surface-glass);
            transition: background-color var(--transition);
            flex-flow: column nowrap;
            position: relative;
            overflow: hidden;

            .trial {
                position: absolute;
                z-index: 10;
                top: 0;
                right: 0;
                font-size: .35em;
                color: var(--color-accent-text-primary);
                background: linear-gradient(315deg, #C18D6E, #6204E9);
                padding: .5em;
                border-bottom-left-radius: .6em;
            }
            .info {
                display: flex;
                padding: 1em;
                flex-flow: column nowrap;
                gap: .2em;
                height: fit-content;

                .price {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    font-size: .8em;
                    font-weight: 600;
                    gap: .2em;

                    .value {
                        display: inline-flex;
                        flex-flow: row nowrap;
                        gap: .1em;
                        align-items: end;

                        .secondary {
                            font-size: .8em;
                        }
                    }
                    .currency {
                        color: grey;
                    }
                }
                .period {
                    font-size: .5em;
                    color: var(--color-brand);
                }
                .name {
                    margin-top: .5em;
                    font-size: .8em;
                    font-weight: 600;
                    height: 2em;
                }
                .description {
                    font-size: .4em;
                    line-height: 1.3;
                    height: 9em;
                }
                .brand {
                    color: var(--color-brand);
                }
            }
            .features {
                display: flex;
                flex: 1;
                flex-flow: column nowrap;
                font-size: .45em;
                padding: 1em 2em;
                gap: 2em;
                border-top: 1px solid var(--color-stroke-secondary);

                .group {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: .7em;

                    .capture {
                        font-size: .8em;
                        color: var(--color-text-secondary);
                        margin-bottom: .3em;
                    }
                    .row {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: start;
                        gap: .6em;

                        .icon {
                            display: flex;
                            align-items: start;
                            width: 1.3em;
                            min-width: 1.3em;
                            height: 1.3em;

                            .svg {
                                width: 1.3em;
                                height: 1.3em;
                                fill: var(--color-icon-primary)
                            }
                        }
                        .about {
                            display: flex;
                            flex: 1;
                            flex-flow: column nowrap;
                            gap: 1em;
                            padding-top: .17em;

                            .name {
                                line-height: 1.2;
                                font-size: .9em;
                            }
                        }
                        .tag {
                            display: inline-flex;
                            height: 2em;
                            padding: 0 .6em;
                            align-items: center;
                            font-size: .7em;
                            border-radius: .3em;
                            background-color: var(--color-contrast);
                            color: var(--color-leader);

                            &.accent {
                                color: #fff;
                                background: linear-gradient(315deg, #C18D6E, #6204E9);
                            }
                        }
                        .value {
                            display: inline-flex;
                            padding: 0 .6em;
                            align-items: center;
                            color: var(--color-brand);
                            height: 1.7em;
                            font-size: .9em;
                        }
                    }
                }
            }
            .actions {
                display: flex;
                height: fit-content;
                font-size: .45em;
                padding: 1em;
                flex-flow: column nowrap;
                gap: 1em;

                .action {
                    width: 100%;
                    transition: transform var(--transition);
                    border: none;

                    &:hover {
                        transform: scale(1.02);
                    }
                }
                .addition {
                    display: flex;
                    height: 2.6em;
                    font-size: .84em;
                    align-items: center;
                    justify-content: center;
                    transition: color var(--transition);

                    &:hover {
                        color: var(--color-brand);
                    }
                }
            }

            &:hover {
                background-color: var(--color-surface-glass-secondary);
            }

            &.enterprise {
                background-color: #0d0d0d;
                color: #fff;
                width: 100%;
                min-height: 35rem;
                padding: 1em 0;

                .logo {
                    font-size: 1.6em;
                    padding: 0 .7em;

                    
                    @media (max-width: 720px) {
                        padding: 0 .5em;
                    }
                }
                .info {
                    padding: 0 1em;
                    font-size: 1.3em;

                    .name {
                        // font-size: 1.2em;
                        height: fit-content;
                    }
                    .description {
                        max-width: 24rem;
                        font-size: .35em;
                        height: fit-content;
                    }
                    @media (max-width: 720px) {
                        padding: 0 .7em;
                    }
                }
                .actions {
                    padding: 2em 2.4em;

                    .action {
                        max-width: 15rem;
                        background-color: #fff;
                        color: #000;
                    }
                    @media (max-width: 720px) {
                        padding: 2em 2em;

                        .action {
                            max-width: 100%;
                        }
                    }
                }
                .benchmarks {
                    display: flex;
                    height: fit-content;
                    justify-content: start;
                    flex-flow: row wrap;
                    gap: 1px;
                    border-top: 1px solid rgb(24, 24, 24);
                    border-bottom: 1px solid rgb(24, 24, 24);
                    background-color: rgb(24, 24, 24);

                    .section {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: .1em;
                        flex: 1;
                        padding: 1em;
                        background-color: #000;

                        .value {
                            font-size: 2.4em;

                            .secondary {
                                color: grey;
                                font-size: .5em;
                            }
                        }
                        .capture {
                            font-size: .5em;
                            line-height: 1.1;

                            &.bold {
                                font-weight: 600;
                                font-size: .8em;
                            }
                        }
                        .description {
                            color: grey;
                            font-size: .4em;
                            line-height: 1.2;
                        }
                        @media (max-width: 720px) {
                            min-width: calc(50% - 1px);
                            max-width: calc(50% - 1px);
                            font-size: .7em;
                        }
                    }
                }
                .features {
                    flex-flow: row wrap;
                    border-top: none;
                    justify-content: start;
                    gap: 2em;
                    padding-top: 2em;

                    .group {
                        width: calc(calc(100% - 6em)/4);
                        gap: 1em;

                        .capture {
                            color: var(--color-accent-text-primary);
                        }
                        .indicator {
                            display: flex;
                            flex-flow: row nowrap;
                            font-size: .9em;
                            align-items: start;

                            .about {
                                display: flex;
                                flex-flow: column nowrap;
                                gap: .2em;
                                flex: 1;

                                .name {
                                    line-height: 1.2;
                                }

                                .description {
                                    font-size: .9em;
                                    color: grey;
                                    line-height: 1.3;
                                }
                            }
                            
                            .marker {
                                margin: .2em 0;
                                width: .6em;
                                height: .6em;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                background-color: rgb(61, 223, 61);
                                box-shadow: 0 0 3px green;
                            }
                        }
                    }
                    @media (max-width: 720px) {
                        flex-flow: column nowrap;

                        .group {
                            min-width: 100%;
                            max-width: 100%;
                        }
                    }
                }

                &:hover {
                    background-color: #0d0d0d;
                }
            }
            &.brand {
                background-color: var(--color-brand);
                color: var(--color-accent-text-primary);  

                .info  {
                    .price .currency {
                        color: var(--color-text-secondary);
                    }
                    .period {
                        color: var(--color-accent-text-primary);
                    }
                }
                .features {

                    .group {
                        .capture {
                            color: var(--color-accent-text-primary);
                        }
                        .row {
                            .icon .svg {
                                fill: var(--color-accent-text-primary);
                            }
                            .value {
                                color: var(--color-accent-text-primary);
                            }
                        }
                    }
                }
                .actions .action {
                    background-color: var(--color-contrast);
                    color: var(--color-leader) !important;
                }
                .actions .addition {
                    &:hover {
                        color: var(--color-contrast);
                    }
                }
            }

            @media (max-width: 720px) {
                font-size: 1.4em;
            }
        }

        @media (max-width: 720px) {
            flex-direction: column;

            .card {
                width: 100%;
            }
        }
    }

    .cross {
        position: absolute;
        width: 1em;
        height: 1em;
        color: var(--color-brand);
        stroke-width: 6px;
        z-index: 10;

        &:nth-child(1) {
            top: -.5em;
            left: -.5em;
        }
        &:nth-child(2) {
            bottom: -.5em;
            right: -.5em;
        }
    }
}