@use '@/assets/styles/_mixins.scss' as *;

.head {
    display: flex;
    // min-height: 5rem;
    border-bottom: 1px solid var(--color-stroke-secondary);
    // position: sticky;
    // top: 0;
    position: relative;
    padding: 0 0 1em 0;
    flex-flow: row nowrap;
    background-color: var(--color-leader);
    
    .base {
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
        flex: 1;
        gap: 1em;

        // meta line
        .metaLine {
            display: block;
            white-space: nowrap;
            overflow-x: scroll;
            font-size: .8em;
            color: var(--color-text-ghost);
            @include no-scrollbar();

            .grid {
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: start;
                height: 3em;
                align-items: center;
                gap: 1em;

                .date {
                    display: inline-flex;
                    gap: .5em;
                    align-items: center;

                    span {
                        width: .4em;
                        height: .4em;
                        border-radius: 50%;
                        background-color: var(--color-accent);
                    }
                }
            }
        }

        // finance indicators widgets
        .indicators {
            display: flex;
            flex-flow: row wrap;
            font-size: .8em;
            gap: 1em;
        }

        .quickActions {
            display: flex;
            flex-flow: row wrap;
            gap: .8em;
            font-size: .76em;

            .action {
                transition: transform var(--transition);
                border: none;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
    .actions {
        display: flex;
        flex-flow: row wrap;
        align-items: start;
        font-size: .8em;
        gap: .65em;
        position: sticky;
        top: 0;
        
        .action {
            border-radius: 2em;
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
    }
}

.cards {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 0;
    gap: .8em;
    // position: sticky;
    // top: 0;
    // background-color: var(--color-leader);
    // z-index: 100;

    .card {
        display: inline-flex;
        width: 11em;
        height: 6em;
        background-color: var(--color-surface-glass-secondary);
        flex-flow: column nowrap;
        padding: 1em;
        border-radius: .8em;
        gap: .5em;
        justify-content: start;
        @include cursor(pointer);
        color: var(--color-text-ghost);
        border: 1px solid transparent;
        transition: background-color var(--transition),
            var(--transition), 
            transform var(--transition);

        .name {
            line-height: 1.2;
            font-size: .9em;
            color: var(--color-text-primary);
        }
        .description {
            font-size: .7em;
            line-height: 1.3;
            @include lines-ellipsis(2);
            // height: 3em;
        }

        &:hover {
            border-color: var(--color-stroke-primary);
            transform: scale(1.02);
            background-color: var(--color-surface-elevated);
        }
        &.accent {
            background-color: var(--color-accent);
            color: var(--color-accent-text-primary);

            .name {
                color: var(--color-accent-text-primary);
            }
        }
    }
}

.body {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-flow: column nowrap;
    justify-content: start;
    font-size: .8em;
    position: relative;
    
    .transaction.beforeSplit {
        opacity: 0.3;
        pointer-events: none;
        filter: grayscale(30%);
    }

    .transaction.afterSplit {
        opacity: 1;
        filter: grayscale(10%);
    }
}