@use '@/assets/styles/_mixins.scss' as *;

.head {
    display: flex;
    min-height: 5rem;
    border-bottom: 1px solid var(--color-stroke-secondary);
    // position: sticky;
    // top: 0;
    padding: 0 0 1em 0;
    flex-flow: row nowrap;
    background-color: var(--color-leader);
    
    .base {
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
        flex: 1;
        gap: 1em;

        // meta line
        .metaLine {
            display: block;
            white-space: nowrap;
            overflow-x: scroll;
            font-size: .8em;
            color: var(--color-text-ghost);
            @include no-scrollbar();

            .grid {
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: start;
                height: 3em;
                align-items: center;
                gap: 1em;

                .date {
                    display: inline-flex;
                    gap: .5em;
                    align-items: center;

                    span {
                        width: .4em;
                        height: .4em;
                        border-radius: 50%;
                        background-color: var(--color-accent);
                    }
                }
            }
        }

        // finance indicators widgets
        .indicators {
            display: flex;
            flex-flow: row wrap;
            font-size: .8em;
            gap: 1em;
        }

        .quickActions {
            display: flex;
            flex-flow: row wrap;
            gap: .8em;
            font-size: .76em;

            .action {
                transition: transform var(--transition);
                border: none;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
    .actions {
        display: flex;
        flex-flow: row wrap;
        align-items: start;
        font-size: .8em;
    }

    @media (max-width: 720px) {
        flex-direction: column;
    }
}

.body {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-flow: column nowrap;
    justify-content: start;
    font-size: .8em;
    position: relative;
    
    .transaction.beforeSplit {
        opacity: 0.3;
        pointer-events: none;
        filter: grayscale(30%);
    }

    .transaction.afterSplit {
        opacity: 1;
        filter: grayscale(10%);
    }
}