@use '@/assets/styles/_mixins.scss' as *;

.content {
    display: flex;
    flex: 1;
    padding: .2rem 0;
    overflow: hidden;
    font-size: .5em;
    position: relative;

    .breadcrumbs {
        display: block;
        position: absolute;
        z-index: 50;
        top: .2rem;
        left: 0;
        height: 2rem;
        border-bottom: 1px solid var(--color-stroke-secondary);
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        @include no-scrollbar();

        .grid {
            display: flex;
            width: fit-content;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1em;
            height: 100%;
            font-size: .8em;
            margin: 0 1.25em;
            font-size: .7em;
            color: var(--color-text-description);

            .point {
                transition: color var(--transition);
                @include cursor(pointer);

                &:hover {
                    color: var(--color-text-hint);
                }
            }
        }
    }

    .area {
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        flex: 1;
        border-radius: .6rem;
        background-color: var(--color-leader);
        max-height: calc(100vh - var(--header-height) - .5rem);
        position: relative;
        padding-top: 2rem;
    }
}