@use '@/assets/styles/_mixins.scss' as *;

.content {
    display: flex;
    flex: 1;
    padding: .2rem 0;
    overflow: hidden;
    font-size: .5em;
    position: relative;

    .area {
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        flex: 1;
        border-radius: .6rem;
        background-color: var(--platform-active-area);
        backdrop-filter: blur(var(--platform-active-area-blur));
        max-height: calc(100vh - var(--header-height) - .5rem);
        border-bottom: 1px solid var(--platform-active-area-border);
        border-left: 1px solid var(--platform-active-area-border);
        border-right: 1px solid var(--platform-active-area-border);
        position: relative;
        padding-top: 2rem;
    }
}