@use '@/assets/styles/_mixins.scss' as *;

// footer parent container
.container {
    min-height: 20rem;
    border-top: 1px solid var(--color-stroke-secondary);
    display: flex;
    padding: 1rem .8rem;
    justify-content: center;
    font-size: .6em;
}

// focus area
.focus {
    display: flex;
    width: 100%;
    max-width: var(--focus-width);
    flex-flow: row nowrap;
    gap: 3rem;

    .brand {
        display: flex;
        flex-flow: column nowrap;
        gap: .1em;
        max-width: 9rem;
        
        .logo {
            height: fit-content;
            font-size: 2.4em;
        }
        .slogan {
            font-size: .6em;
            color: grey;
            line-height: 1.3;
            // padding-left: .7em;
        }
    }
    .sections {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        gap: 2rem 1.5rem;
        padding: .5rem 0 3rem 0;
        font-size: .6em;

        .group {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.2em;
            min-width: 9rem;
            max-width: 9rem;

            .name {
                margin-bottom: .4em;
                color: var(--color-text-description);
            }
            .section {
                font-size: .95em;
                @include cursor(pointer);
                transition: color var(--transition);
                line-height: 1.3;

                &:hover {
                    color: var(--color-brand);
                }
            }
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        gap: 1rem;

        .brand {
            max-width: 100%;
        }
        .sections .group {
            min-width: 100%;
            max-width: 100%;
        }
    }
}