@use '@/assets/styles/_mixins.scss' as *;

// footer parent container
.container {
    border-top: 1px solid var(--color-stroke-secondary);
    display: flex;
    padding: 1rem .8rem;
    justify-content: center;
    font-size: .6em;
}

// focus area
.focus {
    display: flex;
    width: 100%;
    max-width: var(--focus-width);
    flex-flow: row nowrap;
    gap: 3rem;

    .brand {
        display: flex;
        flex-flow: column nowrap;
        gap: .1em;
        max-width: 9rem;
        
        .logo {
            height: fit-content;
            font-size: 1.6em;
        }
        .slogan {
            font-size: .6em;
            color: grey;
            line-height: 1.3;
            // padding-left: .7em;
        }
    }
    .peoples {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .item {
            width: 2em;
            height: 2em;
            background-size: cover;
            background-image: center;
            border-radius: 50%;
            border: 3px solid var(--color-leader);
            @include cursor(pointer);
            margin-left: -.5em;
            transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            z-index: 1;
            background-color: var(--color-surface-primary);

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                transform: translateY(-4px) scale(1.08);
                z-index: 10;
                border-width: 4px;
                border-color: var(--color-leader);
            }
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        gap: 1rem;

        .brand {
            max-width: 100%;
        }
        .peoples {
            font-size: .8em;
            justify-content: start;
            padding: 0 .35em;

            .item {
                &:first-child {
                    margin-left: -.5em;
                }
            }
        }
    }
}