@use '@/assets/styles/_mixins.scss' as *;

.content {
    display: flex;
    flex-flow: column nowrap;
    gap: .8em;
    padding: 1.5em;
    min-width: 23rem;

    .inter {
        display: flex;
        height: 1px;
        background-color: var(--color-stroke-primary);
        margin: 1em 0;
    }
    .capture {
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: .02em;
        line-height: 1.3;
    }
    .description {
        font-size: .9em;
        line-height: 1.3;
        color: var(--color-text-description);
    }
    .permissions {
        display: flex;
        flex-flow: row wrap;
        gap: .5em;

        .item {
            display: inline-flex;
            flex-flow: row nowrap;
            padding: .7em 1em;
            align-items: center;
            border-radius: 2em;
            gap: 1em;
            background-color: var(--color-surface-light);
            overflow: hidden;
            @include cursor(pointer);

            .key {
                @include text-ellipsis();
            }
            .action {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @include cursor(pointer);
                transition: transform var(--transition);

                svg {
                    width: 1.2em;
                    height: 1.2em;
                    fill: var(--color-icon-primary);
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}