@use '@/assets/styles/_mixins.scss' as *;

.body {
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    padding: 1em 0;

    .section {
        display: flex;
        flex-flow: column nowrap;
        gap: .2em;

        .unify {
            display: flex;
            flex-flow: row wrap;
            gap: 1em;
            align-items: center;

            .action {
                font-size: .7em;
                border-radius: 2em;
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
        .capture {
            font-weight: 600;
            font-size: .9em;
            line-height: 1.2;
            letter-spacing: .02em;
        }
        .description {
            line-height: 1.4;
            font-size: .72em;
            color: var(--color-text-secondary);
            max-width: 25rem;

            svg {
                width: 1.2em;
                height: 1.2em;
                margin-right: .4em;
            }
        }
        .variants {
            display: flex;
            flex-flow: row wrap;
            gap: .6em;
            font-size: .9em;
            margin-top: .7em;
        }
        .note {
            display: inline-flex;
            width: fit-content;
            padding: .6em;
            border-radius: .8em;
            background-color: var(--color-surface-glass-secondary);
            margin-top: .6em;
        }
    }
}