@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    min-height: 9em;
    width: 15em;
    background-color: var(--color-surface-glass);
    border-radius: .5em;
    // @include cursor(pointer);
    border: 1px solid var(--color-stroke-secondary);
    position: relative;
    overflow: hidden;
    padding: .8em .8em;
    transition: background-color var(--transition);
    flex-flow: column nowrap;
    gap: 1em;

    .base {
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        gap: .8em;
        align-items: start;

        .avatar {
            display: inline-flex;
            width: 3em;
            min-width: 3em;
            height: 3em;
            border: 1px solid var(--color-stroke-primary);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: var(--color-leader);
            background-color: var(--color-surface-light);
            border: 2px solid var(--color-stroke-primary);
        }
        .info {
            display: flex;
            flex-flow: column nowrap;
            gap: .4em;
            padding: .4em 0;

            .name {
                font-size: .84em;
                font-weight: 600;
                letter-spacing: .02em;
                line-height: 1.3;
                @include lines-ellipsis(3);
            }
            .tags {
                display: flex;
                flex-flow: row wrap;
                font-size: .62em;
                gap: .5em;

                .tag {
                    display: inline-block;
                    @include text-ellipsis();
                    width: fit-content;
                    background-color: var(--color-surface-light);
                    padding: .4em .7em;
                    border-radius: 1em;

                    &.accent {
                        background-color: var(--color-accent);
                        color: var(--color-accent-text-primary);
                    }
                }
            }
        }
    }

    .stat {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        gap: .8em;
        padding-top: .4em;
        border-top: 1px solid var(--color-stroke-secondary);

        .section {
            display: flex;
            flex-flow: column nowrap;
            gap: .2em;
            justify-content: center;
            padding: .5em .5em;
            // background-color: var(--color-surface-tertiary);
            // border-radius: .4em;

            .value {
                font-weight: 600;
                font-size: 1.05em;
                letter-spacing: .02em;
                @include text-ellipsis();
            }
            .legend {
                font-size: .74em;
                color: var(--color-text-secondary);
                @include text-ellipsis();
            }
        }
    }

    .actions {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        font-size: .7em;
        // margin-top: 1em;
        margin-bottom: -1em;
        opacity: 0;
        transition: margin-bottom var(--transition), opacity var(--transition);

        .action {
            border-radius: 2em;
            flex: 1;
        }
    }

    .flag {
        position: absolute;
        z-index: 10;
        width: 3em;
        height: 3em;
        background-color: var(--color-surface-glass-secondary);
        top: -1.6em;
        right: -1.6em;
        transform: rotate(-45deg);
        transition: transform var(--transition);
        border-radius: .4em;
    }
    .code {
        position: absolute;
        z-index: 10;
        left: 1.4em;
        font-size: .6em;
        color: var(--color-text-secondary);
        padding: .6em .7em;
        display: inline-block;
        border: 1px solid var(--color-stroke-secondary);
        border-top-left-radius: .3em;
        border-top-right-radius: .3em;
        bottom: -1px;
        background-color: var(--color-surface-glass-secondary);
        @include text-ellipsis();
        width: fit-content;
        max-width: calc(100% - 3em);
    }

    &:hover {
        background-color: var(--color-surface-glass-secondary);

        .actions {
            margin-bottom: 0;
            opacity: 1;
        }
        .flag {
            transform: rotate(-30deg);
        }
    }
}