@use '@/assets/styles/_mixins.scss' as *;

// header parent container
.container {
    display: flex;
    height: var(--header-height);
    position: sticky;
    top: 0;
    font-size: .7em;
    flex-flow: row nowrap;
    padding: 0 .8rem;
    z-index: 1001;
    background-color: var(--color-leader);
    // color: var(--color-contrast-text-primary);
    // border-bottom: 1px solid var(--color-stroke-secondary);

    &.active {
        position: fixed;
        width: 100%;
    }
    
    // icon component with shadow & appearance animation
    .icon {
        display: inline-flex;
        align-items: center;
        font-size: .66em;
        font-weight: 600;
    }

    // navigation area
    .navigation {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        font-size: .52em;
        color: grey;
        pointer-events: none;
        gap: 2em;
        margin: 0 2rem;

        .frame {
            display: flex;
            flex-flow: row nowrap;
            gap: 2em;
        }

        .section {
            display: inline-flex;
            align-items: center;
            flex-flow: row nowrap;
            pointer-events: all;
            transition: color var(--transition);
            @include cursor(pointer);
            gap: .5em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            .icon .svg {
                width: 1em;
                height: 1em;
                fill: grey;
                transition: fill var(--transition);
            }
            .name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &:hover, &.active {
                color: var(--color-brand);

                .icon .svg {
                    fill: var(--color-brand);
                }
            }
        }

        @media (max-width: 720px) {
            display: none;
        }
    }

    // actions area
    .actions {
        display: inline-flex;
        flex-flow: row nowrap;
        flex: 1;
        justify-content: end;
        gap: .4em;

        // account avatar
        .account {
            display: inline-flex;
            width: 2.3rem;
            height: 2.3rem;
            align-items: center;
            justify-content: center;
            @include cursor(pointer);

            .avatar {
                display: inline-flex;
                width: 1.8rem;
                height: 1.8rem;
                background-color: var(--color-surface-primary);
                align-items: center;
                justify-content: center;
                padding: .1rem;
                border-radius: 50%;
                transition: background-color var(--transition);

                .img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }
            }
            &:hover {
                .avatar {
                    background-color: var(--color-brand);
                }
            }
        }

        // actions buttons
        .buttons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: .5em;
            gap: .5em;

            .button {
                border-radius: .6em;
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.02);
                }
            }

            @media (max-width: 720px) {
                display: none;
            }
        }

        // theme switcher
        .theme {
            display: inline-flex;
            align-items: center;

            .switcher {
                height: 1.5rem;
                display: inline-flex;
                flex-flow: row nowrap;
                border-radius: 1rem;
                background-color: var(--color-surface-glass);

                .box {
                    display: inline-flex;
                    width: 1.5rem;
                    height: 1.5rem;
                    align-items: center;
                    justify-content: center;
                    transition: background-color var(--transition), border-color var(--transition);
                    border-radius: 50%;
                    border: 1px solid transparent;
                    @include cursor(pointer);

                    .svg {
                        width: 40%;
                        height: 40%;
                        fill: var(--color-icon-primary);
                        transition: fill var(--transition);
                    }

                    &:hover {
                        border-color: var(--color-brand);
                    }
                    &.active {
                        background-color: var(--color-brand);

                        .svg {
                            fill: var(--color-accent-text-primary);
                        }
                    }
                }
            }
        }

        // menu for mobile
        .burger {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            .svg {
                width: .8em;
                height: .8em;
                fill: var(--color-brand);
            }

            @media (min-width: 720px) {
                display: none;
            }
        }
    }
}


// mobile menu
@keyframes animate-menu {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}
.menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-leader);
    padding: var(--header-height) .8rem .8rem .8rem;
    display: flex;
    font-size: .45em;
    flex-flow: column nowrap;
    gap: 2em;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    animation: animate-menu .2s forwards;

    .sections {
        display: flex;
        height: 100%;
        flex-flow: column nowrap;
        gap: 1em;
        padding-top: 1em;

        .section {
            display: flex;
            flex-flow: row nowrap;
            height: 3em;
            align-items: center;
            transition: color var(--transition);
            @include cursor(pointer);
            gap: .5em;
            // background-color: var(--color-surface-primary);
            // padding: 0 1em;
            // border-radius: .5em;
            border-bottom: 1px solid var(--color-stroke-secondary);


            .name {
                width: 100%;
                font-weight: 600;
            }
            .icon .svg {
                width: 1em;
                height: 1em;
                fill: grey;
                transition: fill var(--transition);
            }
            &:hover, &.active {
                color: var(--color-brand);

                .icon .svg {
                    fill: var(--color-brand);
                }
            }
        }
    }
    .actions {
        display: flex;
        height: fit-content;
        flex-flow: column nowrap;
        gap: .5em;

        .button {
            font-weight: 600;
            letter-spacing: .05em;
            border-radius: .6em;
            transition: transform var(--transition);
            height: 3em;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}