@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 15rem;

    .focus {
        @include focus();
        flex-flow: column nowrap;
        gap: 1rem;

        @media (max-width: 720px) {
            font-size: .9em;
            flex-direction: column;
        }
    }
}

.col {
    display: flex;

    &:nth-child(1) {
        flex: 1;
        flex-flow: column nowrap;
        gap: .5em;
        align-items: center;
        justify-content: center;

        .capture {
            text-align: center;
            line-height: 1.2;
            font-weight: 600;
            font-size: 1.3em;

            .brand {
                color: var(--color-brand);
            }
        }
        .description {
            text-align: center;
            font-size: .5em;
            color: var(--color-text-description);
        }
    }
}