@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    border-radius: 1em;
    border: 1px solid var(--color-stroke-secondary);
    transition: background-color var(--transition);
    @include cursor(pointer);

    &:hover {
        background-color: var(--color-surface-glass-secondary);
    }
}

.container.compact {
    border-color: transparent;
    flex-flow: row nowrap;
    gap: 1em;
    height: 4em;
    padding: 0 1em;
    overflow: hidden;

    .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .svg {
            width: 1.5em;
            height: 1.5em;
            fill: var(--color-icon-primary);
        }
    }
    .info {
        display: flex;
        flex-flow: column nowrap;
        gap: .3em;
        justify-content: center;
        overflow: hidden;
        flex: 1;
        
        .name {
            @include text-ellipsis();
        }
        .description {
            @include text-ellipsis();
            font-size: .8em;
            color: var(--color-text-secondary);
        }
    }
    .tags {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: .4em;

        .tag {
            padding: .4em .4em;
            border-radius: .3em;
            @include text-ellipsis();
            max-width: 3.5em;
            background-color: var(--color-accent);
            color: var(--color-accent-text-primary);
        }
    }
}