@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 20rem;

    .focus {
        @include focus();
        justify-content: center;
        flex-flow: column nowrap;
        width: 100%;
        flex: 1;
        gap: 2rem;
    }
}


.col {
    display: flex;

    &:nth-child(1) {
        flex-flow: column nowrap;
        align-items: center;
        gap: .5em;

        .topic {
            @include topic-link();
            justify-content: center;
        }
        .capture {
            font-size: 1.23em;
            font-weight: 800;
            letter-spacing: .02em;
            line-height: 1.1;
            text-align: center;

            .brand {
                color: var(--color-brand);
            }
        }
        .description {
            font-size: .6em;
            line-height: 1.3;
            text-align: center;
            max-width: 30rem;

            .logo {
                display: inline-flex;
                width: 10rem;
                margin: .7em 0;
                fill: var(--color-text-primary);
            }
            .secondary {
                display: block;
                font-size: .65em;
            }
        }
    }
    &:nth-child(2) {
        position: relative;
        display: block;
        height: 10rem;

        .cloud {
            position: absolute;
            fill: var(--color-surface-glass);
            filter: drop-shadow(0 0 8px var(--color-leader));

            &.c1 {
                width: 12rem;
                height: 12rem;
                top: -3rem;
            }
            &.c2, &.c3 {
                width: 9rem;
                height: 9rem;
                top: 1rem;
            }
            &.c1 {
                left: 0;
            }
            &.c2 {
                left: 5rem;
            }
            &.c3 {
                width: 11rem;
                height: 11rem;
                right: 0;
                top: -4rem;
            }
            &.c4 {
                top: -3rem;
                right: 5rem;
                width: 15rem;
                height: 15rem;
            }

            @media (max-width: 720px) {
                &.c2 {
                    width: 10rem;
                    height: 10rem;
                    top: 0rem;
                }
                &.c3, &.c4 {
                    display: none;
                } 
            }
        }

        @media (max-width: 720px) {
            margin-left: -3rem;
            width: calc(100% + 6rem);
        }
    }
}