@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2em;

    .counter {
        display: flex;
        flex-flow: column nowrap;
        gap: .1em;

        .value {
            font-size: 2.4em;
            font-weight: 600;
            color: var(--color-text-primary);

            .secondary {
                font-size: .5em;
                color: var(--color-text-secondary) !important;
            }
        }
        .legend {
            font-size: .94em;
            color: var(--color-text-primary);
            font-weight: 600;
            letter-spacing: .02em;
        }

        &:nth-child(1), &:nth-child(2) {
            .value {
                background: linear-gradient(45deg, var(--color-green), var(--color-blue), var(--color-purple), var(--color-yellow));
                background-size: 300% 300%;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;
                animation: gradient 3s ease infinite;

                @keyframes gradient {
                    0% { background-position: 0% 50%; }
                    50% { background-position: 100% 50%; }
                    100% { background-position: 0% 50%; }
                }
            }
        }
    }
    .description {
        font-size: .74em;
        line-height: 1.3;
        color: var(--color-text-ghost);
    }
}