@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    min-width: 8em;
    flex: 1;
    min-height: 14em;
    border: 1px solid var(--color-stroke-secondary);
    transition: background-color var(--transition);
    flex-flow: column nowrap;
    padding: .5em;
    gap: 1em;
    color: var(--color-text-primary);
    position: relative;

    .marks {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        display: flex;
        flex-flow: row wrap;
        font-size: .55em;
        gap: .5em;
        pointer-events: none;
        padding: .5em;

        .mark {
            display: inline-flex;
            height: 1.7em;
            padding: 0 .5em;
            background-color: var(--color-accent);
            border-radius: 2em;
            align-items: center;
            justify-content: center;
            color: var(--color-accent-text-primary);
        }
    }

    .info {
        display: flex;
        height: fit-content;
        flex-flow: column nowrap;
        justify-content: start;
        padding: .6em .3em;
        gap: .2em;
        flex: 1;

        .value {
            font-size: 1.1em;
            font-weight: 600;
            letter-spacing: .02em;
        }
        .afterValue {
            font-size: .55em;
            line-height: 1.2;
        }
        .name {
            margin-top: .4em;
            font-size: 1.33em;
            font-weight: 600;
            letter-spacing: .02em;
        }
        .description {
            font-size: .64em;
            line-height: 1.2;
            color: var(--color-text-ghost);
        }
        .line {
            height: 1px;
            margin: .4em 0;
            background-color: var(--color-stroke-secondary);
        }
        .theses {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            justify-content: start;
            font-size: .6em;

            .capture {
                color: var(--color-text-ghost);
                margin-bottom: .2em;
            }
            .thesis {
                display: flex;
                flex-flow: row nowrap;
                min-height: 2em;
                align-items: center;
                gap: .3em;

                .icon {
                    display: flex;
                    width: 2em;
                    min-width: 2em;
                    justify-content: center;

                    svg {
                        width: 1.3em;
                        height: 1.3em;
                        fill: var(--color-accent);
                    }
                }
                .about {
                    line-height: 1.2;
                    padding: .3em 0;
                }
            }
        }
    }

    .actions {
        display: flex;
        height: fit-content;
        font-size: .6em;
        flex-flow: column nowrap;
        justify-content: end;
        gap: .4em;

        .action {
            height: 3em;
            border-radius: 2em;
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    &:hover {
        background-color: var(--color-surface-elevated);
    }

    &.accent {
        background-color: var(--color-accent);
        color: var(--color-accent-text-primary);

        .marks .mark {
            background-color: var(--color-contrast);
            color: var(--color-leader);
        }
        .info .description {
            color: var(--color-accent-text-primary);
        }
        .info .line {
            background-color: var(--color-accent-text-primary);
        }
        .info .theses {
            .capture {
                color: var(--color-accent-text-primary);
            }
            .thesis .icon svg {
                fill: var(--color-accent-text-primary);
            }
        }
        .actions .action {
            background-color: var(--color-contrast);
            border: none;
            color: var(--color-leader)
        }
    }

    @media (max-width: 720px) {
        min-width: 12em;
        min-height: 16em;
    }
}