@use '@/assets/styles/_mixins.scss' as *;

// header parent container
.container {
    display: var(--header-display);
    height: var(--header-height);
    position: relative;
    top: 0;
    font-size: .7em;
    flex-flow: row nowrap;
    padding: 0 0 0 .66rem;
    z-index: 1001;
    // background-color: var(--color-surface-area);
    // color: var(--color-contrast-text-primary);
    // border-bottom: 1px solid var(--color-stroke-secondary);

    &.active {
        position: fixed;
        width: 100%;
    }
    
    // icon component with shadow & appearance animation
    .icon {
        display: inline-flex;
        align-items: center;
        font-size: .66em;
        font-weight: 600;
        flex-flow: row nowrap;
        gap: .6em;

        .text {
            font-weight: 800;
            font-size: 1.1em;
            letter-spacing: .015em;
        }
    }

    // navigation area
    .search {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: .5em;
        color: grey;
        pointer-events: none;
        gap: 2em;

        .frame {
            display: flex;
            flex-flow: row nowrap;
            gap: 2em;
        }

        @media (max-width: 720px) {
            display: none;
        }
    }

    // actions area
    .actions {
        display: inline-flex;
        flex-flow: row nowrap;
        flex: 1;
        justify-content: end;
        gap: .3em;

        // account avatar
        .account {
        }

        // actions buttons
        .buttons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: .5em;
            gap: .9em;

            .button {
                transition: transform var(--transition);

                .svg {
                    width: 1.2em;
                    height: 1.2em;
                    fill: var(--color-icon-primary);
                    transition: fill var(--transition);
                }

                &:hover {
                    transform: scale(1.02);

                    .svg {
                        fill: var(--color-text-primary);
                    }
                }
            }

            @media (max-width: 720px) {
                display: none;
            }
        }

        // menu for mobile
        .burger {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            .svg {
                width: .8em;
                height: .8em;
                fill: var(--color-brand);
            }

            @media (min-width: 720px) {
                display: none;
            }
        }
    }
}


// mobile menu
@keyframes animate-menu {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}
.menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-leader);
    padding: var(--header-height) .8rem .8rem .8rem;
    display: flex;
    font-size: .4em;
    flex-flow: column nowrap;
    gap: 2em;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    animation: animate-menu .2s forwards;

    .sections {
        display: flex;
        height: 100%;
        flex-flow: column nowrap;
        gap: 1em;
        padding-top: 1em;

        .section {
            display: flex;
            flex-flow: row nowrap;
            height: 3em;
            align-items: center;
            transition: color var(--transition);
            @include cursor(pointer);
            gap: .5em;
            // background-color: var(--color-surface-primary);
            // padding: 0 1em;
            // border-radius: .5em;
            border-bottom: 1px solid var(--color-stroke-secondary);


            .name {
                width: 100%;
            }
            .icon .svg {
                width: 1em;
                height: 1em;
                fill: grey;
                transition: fill var(--transition);
            }
            &:hover, &.active {
                color: var(--color-brand);

                .icon .svg {
                    fill: var(--color-brand);
                }
            }
        }
    }
    .actions {
        display: flex;
        height: fit-content;
        flex-flow: column nowrap;
        gap: .5em;

        .button {
            border-radius: .6em;
            transition: transform var(--transition);
            height: 3em;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}