@use '@/assets/styles/_mixins.scss' as *;

.footer {
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;
    margin: 1em 0;
    font-size: .8em;

    .section {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        border-left: 2px dashed var(--color-stroke-secondary);


        .info {
            display: block;
            padding: 1em 0;
            line-height: 1.3;
        }
    }
}

.hint {
    color: var(--color-text-hint);
}