@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;

    &.blue {
        background: linear-gradient(180deg, transparent, #E77388);
    }
}