@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: block;
    min-height: 20rem;
    position: relative;


    .svg {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        bottom: -4px;
        width: 100%;

        path {
            stroke-width: 1px;
            stroke: var(--color-stroke-primary);
        }
    }

    @media (max-width: 720px) {
        min-height: 8rem;
    }
}