@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    height: fit-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 25rem;

    .focus {
        @include focus();
        flex-flow: row nowrap;
        width: 100%;
        gap: 1em;

        @media (max-width: 720px) {
            flex-direction: column;
        }
    }
}


.col {
    display: flex;
    flex: 1;

    &:nth-child(1) {
        flex-flow: column nowrap;
        gap: .5em;

        .topic {
            @include topic-link();
        }
        .capture {
            font-size: 1.23em;
            font-weight: 800;
            letter-spacing: .02em;
            line-height: 1.1;
        }
        .description {
            font-size: .6em;
            line-height: 1.3;
        }
        .brand {
            color: var(--color-brand);
        }
    }
    &:nth-child(2) {
        display: block;
        flex: 1.3;
        text-align: right;
        position: relative;

        .grid {
            display: inline-flex;
            flex-flow: row wrap;
            gap: .4em;

            .block {
                display: flex;
                width: 1.8em;
                height: 1.8em;
                border-radius: .3em;
                background-color: var(--color-surface-primary);
                border: 1px solid var(--color-stroke-secondary);
                @include cursor(pointer);
                // transition: transform var(--transition);

                &:hover {
                    transform: scale(1.06);
                }
            }
        }
        .shadow {
            position: absolute;
            z-index: 10;
            top: -10px;
            left: -10px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            pointer-events: none;
            background: linear-gradient(90deg, var(--color-leader), transparent, var(--color-leader));
            opacity: 0;
        }

        @media (max-width: 720px) {
            text-align: left;
            overflow: hidden;

            .grid {
                margin-left: -3rem;
                width: 20rem;
                justify-content: center;
                gap: .2em;

                .block {
                    width: 2.4rem;
                    height: 2.4rem;
                    border-radius: .2em;
                }
            }
            .shadow {
                opacity: 1;
            }
        }
    }
}