@use '@/assets/styles/_mixins.scss' as *;

.widget {
    display: inline-flex;
    position: relative;
    padding: 0 .4em;
    align-items: center;
    justify-content: center;

    .overlay {
        width: 1.47em;
        height: 1.47em;
        background-color: var(--color-stroke-tertiary);
        border-radius: 50%;
        padding: 2px;
        @include cursor(pointer);

        .avatar {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            font-size: .7em;
            font-weight: 600;
            letter-spacing: .02em;
            color: var(--color-leader);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-stroke-secondary);
        }
    }
    .control {
        position: fixed;
        z-index: 10000;
        top: 3em;
        right: 2em;
        width: 15em;
        min-height: 5em;
        font-size: .6em;
        border-radius: .75em;
        background-color: var(--color-leader);
        box-shadow: 0 0 .4em var(--color-surface-light);
        border: 1px solid var(--color-stroke-secondary);
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;

        .section {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: .8em;
            height: 2.5em;
            padding: 0 .9em;
            // border-bottom: 1px solid var(--color-stroke-primary);
            transition: background-color var(--transition);
            @include cursor(pointer);

            .icon {
                display: inline-flex;
                align-items: center;

                svg {
                    width: 1em;
                    height: 1em;
                    fill: var(--color-icon-primary);
                }
            }
            .capture {
                font-size: .9em;
                @include text-ellipsis();
            }

            &:hover {
                background: var(--color-surface-light);
            }

            &:first-child {
                margin-top: .5em;
            }
            &:last-child {
                margin-bottom: .5em;
            }
        }

        .footer {
            text-align: center;
            padding: 1em 1em 1em 1em;
            border-top: 1px solid var(--color-stroke-secondary);
            font-size: .8em;
            color: var(--color-text-ghost);
            line-height: 1.3;

            .accent {
                color: var(--color-text-hint);
            }
        }

        @media (max-width: 720px) {
            top: auto;
            right: auto;
            bottom: 1em;
            left: 1em;
            width: calc(100% - 2em);
        }
    }
}