@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 1rem;
    padding-bottom: 3rem;

    @media (max-width: 720px) {
        padding-left: .4rem;
        padding-right: .4rem;
    }
}
.focus {
    @include focus();
    flex-flow: column nowrap;
    justify-content: end;
    position: relative;

    .brand {
        color: var(--color-brand);
    }
}

.col {
    display: flex;
    min-height: 15rem;
    border-radius: 1rem;
    flex-flow: column nowrap;
    border: 1px solid #222222;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: .7rem;

    .title {
        font-weight: 600;
        color: #eee;
        font-size: .9em;
        text-align: center;
        line-height: 1.15;
    }
    .description {
        font-size: .4em;
        line-height: 1.3;
        width: 50%;
        text-align: center;
        color: grey;
    }
    .actions {
        display: flex;
        font-size: .38em;
        flex-flow: row nowrap;
        gap: .9em;
        align-items: center;

        .action {
            border-radius: 2em;
            color: #000;
            background-color: #eee;
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.02);
            }
        }
        .info {
            display: inline-flex;
            flex-flow: column nowrap;
            font-size: .76em;
            line-height: 1.2;
            gap: .2em;
            overflow: hidden;

            .capture {
                color: #eee;
                font-size: 1.13em;
            }
            .about {
                color: grey;
            }
            .capture, .about {
                @include text-ellipsis();
            }
        }
    }
    @media (max-width: 720px) {
        padding: 2rem 1rem;

        .title {
            font-size: .7em;
        }
        .description {
            width: 90%;
        }
    }
}
.col {
    background-image: linear-gradient(to right top, #111111, #161616, #1a1a1a, #1e1e1e, #222222e2);
    backdrop-filter: blur(20px);
    background: linear-gradient(45deg, 
        #111111, 
        #1a1a1a 30%, 
        #222222cc 50%, 
        #1a1a1a 70%, 
        #111111
    );
    background-size: 400% 400%;
    animation: gradientShift 4s ease infinite;
}
@keyframes gradientShift {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
