@use '@/assets/styles/_mixins.scss' as *;

.container {
    @include slide();
    flex: 1;

    .focus {
        @include focus();
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        font-size: .5em;
        max-width: 20rem;
        gap: 2em;
    }
}


.svg {
    width: 4em;
    height: 4em;
    fill: var(--color-brand);
}
.text {
    display: flex;
    flex-flow: column nowrap;
    font-size: .9em;
    gap: 1em;

    .capture {
        text-align: center;
    }
    .description {
        font-size: .8em;
        text-align: center;
        line-height: 1.3;
        color: var(--color-text-description);
    }
}