@use '@/assets/styles/_mixins.scss' as *;

.container {
    @include slide();
    flex: 1;
    padding: 0;
}
.grid {
    @include focus();
    padding: 0 1px;
    background-color: var(--color-stroke-secondary);
    flex: 1;
    flex-flow: column nowrap;
    gap: 1px;

    .block {
        background-color: var(--color-leader);
        font-size: .6em;
        padding: 2.5rem 2rem;
    }

    .interval {
        background-color: var(--color-leader);
        height: 5rem;
    }

    .intervalFlex {
        display: flex;
        flex-flow: row nowrap;
        height: 5rem;
        gap: 1px;

        span {
            display: flex;
            flex: 1;
            background-color: var(--color-leader);
        }
    }

    @media (max-width: 720px) {
        padding: 0;
        
        .block {
            padding: 1.5rem 1rem;
            font-size: .55em;
        }
    }
}

.form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .focus {
        display: flex;
        flex: 1;
        width: 25rem;
        flex-flow: column nowrap;
        gap: 1rem;

        .success {
            display: flex;
            flex-flow: column nowrap;
            gap: 1em;
            font-size: .9em;
            align-items: center;
            justify-content: center;

            svg {
                width: 2em;
                height: 2em;
                fill: var(--color-accent);
            }

            .info {
                display: flex;
                flex-flow: column nowrap;
                gap: .4em;

                .capture {
                    font-weight: 600;
                    letter-spacing: .02em;
                }

                .description {
                    font-size: .8em;
                    color: var(--color-text-ghost);
                }

                .capture, .description {
                    text-align: center;
                    line-height: 1.3;
                }
            }
        }

        .warning {
            font-size: .6em;
            line-height: 1.3;
            color: var(--color-text-ghost);
            text-align: center;

            .accent {
                color: var(--color-text-hint);
            }
        }
        .actions {
            display: flex;
            flex-flow: column nowrap;
            font-size: .74em;

            .action {
                width: 100%;
                border-radius: 2em;
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }

    @media (max-width: 720px) {
        .focus {
            width: 100%;
        }
    }
}