@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    min-height: 100%;
    flex-flow: column nowrap;
    padding: 1rem;
    font-size: .7em;
    gap: .6rem;

    .title {
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: .02em;
        line-height: 1.15;
    }
    .description {
        color: var(--color-text-ghost);
    }
    .body {
        display: flex;
        margin-top: .3rem;
        flex-flow: column nowrap;
        gap: 1rem;
    }
    .section {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;

        .unify {
            display: flex;
            flex-flow: row nowrap;

            .input {
                &:nth-child(1) {
                    flex: 1;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &:nth-child(2) {
                    flex: .5;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    &:focus {
                        border: 1px solid var(--color-stroke-secondary);
                    }
                }
            }
        }
        .variants {
            display: flex;
            flex-flow: row wrap;
            gap: .5rem;

            .item {
                display: flex;
                flex-flow: column nowrap;
                gap: .5em;
                padding: 1em;
                border: 2px solid transparent;
                max-width: 10rem;
                border-radius: .45rem;
                background-color: var(--color-surface-primary);
                @include cursor(pointer);
                transition: background-color var(--transition), border-color var(--transition);

                .name {
                    font-weight: 600;
                    letter-spacing: .02em;
                    line-height: 1.2;
                    display: flex;
                    align-items: center;
                    flex-flow: row wrap;
                    gap: .4em;

                    .secondary {
                        color: var(--color-text-description);
                    }

                    .icon {
                        width: 1.2em;
                        height: 1.2em;
                        fill: var(--color-icon-primary);
                    }
                }
                .description {
                    line-height: 1.3;
                    font-size: .9em;
                }
                &:hover {
                    background-color: var(--color-surface-elevated);
                }
                &.active {
                    border-color: var(--color-accent);
                }
            }
        }
        .status {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: .5em;
            color: var(--color-text-description);

            .svg {
                width: 1.2em;
                height: 1.2em;
            }

            &.error {
                color: var(--color-red);
            }
            &.success {
                color: var(--color-text-hint);
            }
        }

        .capture {
            font-size: 1em;
            font-weight: 600;
            letter-spacing: .02em;
        }
    }

    .input, .action {
        max-width: 25rem;
    }
}