.block {
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;
    min-height: 15rem;
    position: relative;
    overflow: hidden;
    
    .content {
        z-index: 3;
        display: flex;
        flex-flow: column nowrap;
        max-width: 25rem;
        gap: 1em;

        .capture {
            font-size: 1.3em;
            font-weight: 600;
            letter-spacing: .025em;
        }
        
        .description {
            line-height: 1.4;
            font-size: .75em;
            color: var(--color-text-ghost);
        }
    }

    .svg {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        height: calc(100% + 4px);
        bottom: -4px;
        filter: drop-shadow(0 4px 12px rgba(128, 0, 255, 0.2));
    }

    .shadow {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent, var(--color-leader));
    }

    @media (max-width: 720px) {
        .content .capture {
            font-size: 1.2em;
        }
    }
}