@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 33rem;
    // background-color: var(--color-surface-primary);
    border-top: 1px solid var(--color-stroke-secondary);

    @media (max-width: 720px) {
        padding-left: .4rem;
        padding-right: .4rem;
    }
}
.focus {
    @include focus();
    flex-flow: column nowrap;
    gap: 1rem;
    position: relative;

    .brand {
        color: var(--color-brand);
    }
}

.col {
    display: flex;

    &:nth-child(1) {
        justify-content: center;
        flex-flow: column nowrap;
        height: 7rem;
        gap: .6rem;
        
        .title {
            font-size: 1.2em;
            text-align: center;
            line-height: 1.1;
            font-weight: 800;
        }
        .description {
            font-size: .55em;
            text-align: center;
            line-height: 1.3;
            font-weight: 800;
            color: var(--color-text-ghost);
        }
        @media (max-width: 720px) {
            .title {
                font-size: 1.1em;
            }
        }
    }
    &:nth-child(2) {
        flex-flow: row wrap;
        gap: .9rem;
        justify-content: center;

        .box {
            display: flex;
            width: 9rem;
            height: 9rem;
            border-radius: 1rem;
            background-color: var(--color-surface-secondary);
            border: 1px solid var(--color-stroke-secondary);
            flex-flow: column nowrap;
            gap: .5rem;
            font-size: .5em;
            padding: 1.3rem;

            .icon {
                .svg {
                    width: 1.7em;
                    height: 1.7em;
                }
            }
            .capture {
                font-weight: 600;
                line-height: 1.15;
            }
            .description {
                color: var(--color-text-ghost);
                line-height: 1.3;
                font-size: .7em;
            }

            &:nth-child(1), &:nth-child(6) {
                background-color: var(--color-contrast);
                color: var(--color-leader);

                .icon .svg {
                    fill: var(--color-leader);
                }
                .description {
                    color: var(--color-leader);
                }
            }
        }

        @media (max-width: 720px) {
            gap: .4rem;

            .box {
                width: calc(50% - .4rem);
                height: auto;
                min-height: 9rem;
                padding: 1rem;
                font-size: .55em;
                gap: .5rem;

                .capture {
                    font-size: .8em;
                }
            }
        }
    }
}