@use '@/assets/styles/_mixins.scss' as *;

.widget {
    flex-flow: column nowrap;
    gap: .6em;
    overflow: hidden;

    .mark {
        position: absolute;
        z-index: 10;
        top: -2.6em;
        right: -2.6em;
        width: 4em;
        height: 4em;
        background-color: var(--color-accent);
        transform: rotate(45deg);
    }

    .title {
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: .02em;
        line-height: 1.3;
    }
    .description {
        font-size: .8em;
        color: var(--color-text-ghost);
    }
    .remained {
        flex: 1;
        justify-content: end;

        .primary {
            color: var(--color-text-primary);
        }
    }

    .error {
        display: block;
        padding: 1.5em;
        text-align: center;
        font-size: .8em;
        line-height: 1.3;

        .accent {
            color: var(--color-text-hint);
        }
    }

    &.loading {
        @include shimmer();
    }
}