@use '@/assets/styles/_mixins.scss' as *;

.container {
    @include slide();
    flex: 1;
    position: relative;
    min-height: 100%;
    overflow: visible;

    .focus {
        @include focus();
        display: inline-flex;
        flex-flow: row nowrap;
        gap: 1rem;
        z-index: 10;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: .39em;
        overflow: visible;

        @media (max-width: 720px) {
            flex-direction: column;
            font-size: .5em;
        }
    }
}

// Panel
$panel-width: 13rem;
.panel {
    display: flex;
    flex-flow: column nowrap;
    width: $panel-width;

    .area {
        display: block;
        position: sticky;
        top: var(--header-height);
        height: fit-content;
        padding: 0 0;
        overflow: hidden;
        width: $panel-width;

        .grid {
            display: flex;
            flex-flow: column nowrap;
            gap: 1em;
        }
        .label {
            display: flex;
            flex-flow: row nowrap;
            gap: .5em;
            font-size: 1.5em;
            overflow: hidden;
            padding: 0 .2em;
            color: var(--color-accent);

            .icon {
                display: inline-flex;
                align-items: center;

                .svg {
                    width: 1em;
                    height: 1em;;
                }
            }
            .info {
                display: flex;
                flex-flow: column nowrap;
                gap: .1em;
                justify-content: center;
                overflow: hidden;

                .name {
                    font-weight: 600;
                    letter-spacing: .02em;
                    @include text-ellipsis();
                }
                .description {
                    font-size: .63em;
                    color: var(--color-text-secondary);
                    @include text-ellipsis();
                }
            }
        }
        .search {
            display: flex;
            flex-flow: column nowrap;
            gap: 1em;
            overflow: hidden;
            padding-top: 1px;

            .input {
                border: 1px solid var(--color-stroke-primary);
                transition: border-color var(--transition);

                &:focus {
                    border-color: var(--color-accent);
                }
            }
            .result {
                display: flex;
                background-color: var(--color-surface-primary);
                border-radius: 1em;
                flex-flow: column nowrap;
                overflow: hidden;


                &.plug {
                    height: 10em;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 2em;
                }
            }
        }
        .add {
            display: flex;
            border-radius: 1em;
            height: 10rem;
            background-color: var(--color-surface-glass-secondary);
        }
    }

    @media (max-width: 720px) {
        width: 100%;
        

        .area {
            width: 100%;
            padding: 0;
        }
        .area .search .input {
            font-size: 1.1em;
        }
    }
}

// Content
.content {
    display: flex;
    flex: 3.3;
    background-color: var(--color-surface-primary);
    border-radius: 1em;
    overflow: hidden;
}