@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    background-color: var(--color-surface-glass) !important;
    
    .col {
        display: flex;
        
        &:nth-child(1) {
            flex: 3;
            flex-flow: column nowrap;
            gap: .3em;

            .capture {
                text-align: center;
                font-weight: 600;
                font-size: 1.2em;
                line-height: .02em;
                line-height: 1.2;
            }
            .description {
                text-align: center;
                line-height: 1.3;
                font-size: .73em;
            }

            @media (max-width: 720px) {
                font-size: .9em;
            }
        }
        &:nth-child(2) {
            flex: 1;
            border-left: 1px dashed var(--color-stroke-secondary);
            flex-flow: row nowrap;
            gap: 1em;
            font-size: .7em;
            align-items: center;
            justify-content: center;

            .action {
                height: 3em;
                border-radius: 2em;
                border: none;
                transition: transform var(--transition), box-shadow var(--transition);

                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 0 1em var(--color-accent);
                }
            }
        }
    }
}