@use '@/assets/styles/_mixins.scss' as *;

.block {
    min-height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: .8em;

    .title {
        font-size: 1.9em;
        font-weight: 600;
        letter-spacing: .02em;
        line-height: 1.15;
        text-align: center;

        .accent {
            color: var(--color-accent);
        }
    }
    .description {
        font-size: .8em;
        line-height: 1.3;
        text-align: center;
    }
    .actions {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        font-size: .7em;
        margin-top: 1em;
        
        .action {
            height: 3em;
            border-radius: 2em;
            transition: transform var(--transition), box-shadow var(--transition);

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 .5em var(--color-accent);
            }
        }
    }
    
    @media (max-width: 720px) {
        .title {
            font-size: 1.6em;
        }
    }
}