@use '@/assets/styles/_mixins.scss' as *;

.grid {
    display: flex;
    flex-flow: column nowrap;
    padding-top: .5em;

    .item {
        border-bottom: 1px solid var(--color-stroke-secondary);
    }
}