@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    min-height: 100%;
    font-size: .7em;
    gap: 1rem;
    padding: .5rem 0;
    color: var(--color-text-secondary);
}
.section {
    display: flex;
    flex-flow: column nowrap;
    gap: .8em;

    .capture {
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: .04em;
    }
}

// Themization
.themes {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: start;

    .theme {
        display: flex;
        width: 16em;
        height: 3em;
        border: 2px solid transparent;
        outline: 1px solid var(--color-stroke-primary);
        border-radius: .5em;
        transition: border-color var(--transition);
        @include cursor(pointer);

        &[data-theme="dark"] {
            background-color: #222222;
        }
        &[data-theme="light"] {
            background-color: #eee;
        }

        &.active, &:hover {
            border-color: var(--color-blue);
            border-width: 2px;
        }
    }
}