@use '@/assets/styles/_mixins.scss' as *;

// input wrapper
.wrapper {
    z-index: 100;
    position: relative;
    display: inline-flex;

    .input {
        width: 15rem;
        background-color: var(--color-surface-elevated);
        pointer-events: all;
        border-width: 2px;
        transition: width var(--transition);
        z-index: 100;
        position: relative;
        padding-right: 5em;
        border: 1px solid var(--color-stroke-primary);

        &:focus, &.focused {
            border: 2px solid var(--color-accent);
            width: 30rem;
        }
    }
    .shortcut {
        display: inline-flex;
        position: absolute;
        z-index: 101;
        top: calc(50% - .9em);
        right: 1em;
        display: inline-flex;
        font-size: .9em;
        border: 1px solid var(--color-stroke-tertiary);
        border-radius: .3em;
        height: 1.8em;
        padding: 0 .4em;
        align-items: center;
        justify-content: center;
    }
}

.canvas {
    display: flex;
    position: fixed;
    z-index: 99;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color-surface-glass);
    backdrop-filter: blur(5px);
    pointer-events: all;
    padding: 2.4rem 0;
    align-items: start;
    justify-content: center;
    overflow: hidden;

    .area {
        display: block;
        width: 100%;
        max-width: 30rem;
        background-color: var(--color-surface-area);
        min-height: 20rem;
        max-height: calc(100% - 5rem);
        border-radius: .6rem;
        overflow-y: scroll;
        box-shadow: 0 0 10px var(--color-surface-tertiary);
    }

    .grid {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        justify-content: start;
        gap: .4rem;
        color: var(--color-text-primary);

        .group {
            display: flex;
            flex-flow: column nowrap;
            padding: .3rem;
            border-bottom: 1px solid var(--color-stroke-primary);

            .capture {
                color: var(--color-text-ghost);
                padding: .8em .8em;
            }
            .section {
                display: flex;
                flex-flow: row nowrap;
                padding: 0 .8em;
                border: 1px solid red;
                border: .5em;
                gap: .8em;
                @include cursor(pointer);
                transition: background-color var(--transition);
                overflow: hidden;
                border-radius: .4em;
                height: 2.8em;
                align-items: center;

                .icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    .svg {
                        width: 1.4em;
                        height: 1.4em;
                    }
                }
                .name {
                    @include text-ellipsis();
                }

                &:hover {
                    background-color: var(--color-surface-tertiary);
                }
            }

            &:last-child {
                border-bottom: none;
            }

            // companies area
            &.companies {
                .capture .count {
                    color: var(--color-text-description);
                    margin-left: .3em;
                }
                .list {
                    .item {
                        padding: .4em .5em;
                        font-size: 1.2em;
                        border-radius: .3em;
                        transition: background-color var(--transition);

                        &:hover {
                            background-color: var(--color-surface-tertiary);
                        }
                    }
                }
                .loading, .empty {
                    display: flex;
                    min-height: 6rem;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}