@use './classic.scss' as base;

@mixin theme {
    @include base.theme();
    
    // ==================== PLATFORM SPECIFIC =======================
    --platform-active-area-border: transparent;
    --platform-background: linear-gradient(135deg, #f3dcf5, violet);
    --platform-active-area: var(--color-surface-glass);
    --platform-active-area-blur: 10px;
    --platform-active-area-breadcrumbs: var(--platform-active-area);
    --platform-active-area-breadcrumbs-blur: var(--platform-active-area-blur);
    --platform-modal: var(--color-surface-glass);
}