@use '@/assets/styles/_mixins.scss' as *;

// new parent container
.container {
    @include slide();
    height: 3rem;
    background: linear-gradient(90deg, #711ACE, #92B5E1);
    overflow: hidden;
    color: #ffffff;

    .focus {
        @include focus();
        max-width: 36rem;
        flex-flow: row nowrap;
        position: relative;
    }
}

.col {
    display: flex;

    &:nth-child(1) {
        flex: 1;
        flex-flow: column nowrap;
        justify-content: center;
        font-size: .8rem;
        z-index: 10;

        .capture {
            font-weight: 600;
            letter-spacing: .02em;
            line-height: 1.3;

            .secondary {
                display: block;
                font-size: .8em;
                font-weight: 500;
                line-height: 1.2;
            }
            .brand {
            }
        }

        @media (max-width: 720px) {
            font-size: .7rem;
        }
    }
    &:nth-child(2) {
        display: inline-flex;
        flex-flow: row nowrap;
        font-size: .64rem;
        align-items: center;
        z-index: 10;

        .action {
            border-radius: 2em;
            border: none;
            font-weight: 600;
            letter-spacing: .02em;
        }
    }
    &:nth-child(3) {
        overflow: hidden;
        margin-left: 1em;

        .svg {
            width: 2.77rem;
            height: 2.77rem;
            margin-top: .4rem;
        }

        @media (max-width: 720px) {
            right: 2.8em;
            display: none;
        }
    }
}