@use '@/assets/styles/_mixins.scss' as *;

.grid {
    display: flex;
    flex-flow: column nowrap;
    font-size: .8em;
    border-top: 1px solid var(--color-stroke-secondary);

    .log {
        border-bottom: 1px solid var(--color-stroke-secondary);

        &:last-child {
            border-bottom: none;
        }
    }
}

.control {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: .8em;
    padding: 0 0 1em 0;

    .tag {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        padding: .6em .56em;
        border: 2px solid var(--color-stroke-secondary);
        border-radius: 2em;
        @include cursor(pointer);
        transition: background-color var(--transition), border-color var(--transition);

        &:hover {
            background-color: var(--color-surface-elevated);
        }
        &.accent {
            border-color: var(--color-accent);
            background-color: transparent;
        }
    }
}