@use '@/assets/styles/_mixins.scss' as *;

// Родительский контейнер 
// для всех страниц и компонентов
.container {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    position: relative;

    // Область инъекции {children}
    .content {
        display: flex;
        flex: 1;
        min-height: 100vh;
        flex-flow: column nowrap;

        @media (max-width: 720px) {
            font-size: 1.2rem;
        }
    }
}