@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: block;
    flex: 1;
    position: relative;
    overflow: visible !important;
    
    .area {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        z-index: 10;
        gap: 1rem;

        
        .link {
            display: flex;
            flex: 1;
            align-items: end;
        }
        .link .circle {
            display: inline-flex;
            width: 2.2rem;
            height: 2.2rem;
            border: 1px solid rgb(57, 57, 57);
            border-radius: 50%;
            transition: background-color var(--transition);
            @include cursor(pointer);
            align-items: center;
            justify-content: center;
            background-color: #222222;

            .svg {
                width: .5rem;
                height: .5rem;
                fill: var(--color-text-ghost);
                transition: fill var(--transition);
            }

            &:hover {
                background-color: #2d2d2d;

                .svg { 
                    fill: var(--color-brand);
                }
            }
        }
        
        .title {
            line-height: 1.15;
            color: #acacac;
            font-size: .65em;
            font-weight: 600;
        }
        .description {
            line-height: 1.3;
            color: grey;
            font-size: .4em;
            width: 70%;
        }
    }
    .contrast { color: #eee; }
    .brand { color: var(--color-brand); }

    // modal svg
    .art {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -3rem;
        height: 17rem;
        fill: var(--color-purple);
        stroke: grey;
    }
}