@use '@/assets/styles/_mixins.scss' as *;

.card {
    width: 12em;
    min-height: 8em;
    background-color: var(--color-surface-glass-secondary);
    border: 1px solid var(--color-stroke-secondary);
    backdrop-filter: blur(10px);
    border-radius: .5em;
    transition: background-color var(--transition);
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    gap: .4em;

    .top {
        display: flex;
        flex-flow: row wrap;
        gap: .6em;
        align-items: center;
        font-size: .7em;

        svg {
            width: 1em;
            height: 1em;
        }
        .capture {
            // font-weight: 600;
            // letter-spacing: .02em;
            line-height: 1.2;
        }
    }
    .description {
        font-size: .6em;
        line-height: 1.3;
    }
    .actions {
        display: flex;
        font-size: .65em;
        flex-flow: column wrap;
        justify-content: end;
        gap: 1em;
        flex: 1;
        margin-top: 1em;
        
        .action {
            height: 3em;
            border-radius: 2em;
        }
    }

    &:hover {
        background-color: var(--color-surface-elevated);
    }

    @media (max-width: 720px) {
        width: 100%;
        min-height: fit-content;
    }
}