@use '@/assets/styles/_mixins.scss' as *;

.head {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.2em;
    padding: 0 0 1em 0;
    border-bottom: 1px solid var(--color-stroke-secondary);

    .avatar {
        display: inline-flex;
        
        .img {
            font-size: 2em;
            width: 3em;
            height: 3em;
            background-color: var(--color-surface-primary);
            border-radius: 50%;
            border: 1px solid var(--color-stroke-primary);
            color: var(--color-leader);
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-position: center;
        }
    }
    .info {
        display: flex;
        justify-content: end;
        flex: 1;
        flex-flow: column nowrap;
        gap: .1em;
        padding: .2rem 0;

        .name {
            font-size: 1.6em;
            line-height: 1.15;
        }
        .description {
            line-height: 1.3;
            font-size: .8em;
            color: var(--color-text-ghost);
            line-height: 1.3;

            span {
                @include cursor(pointer);
            }
        }
    }
    .actions {
        display: inline-flex;
        flex-flow: row nowrap;
        gap: 1em;
        font-size: .7em;

        .action {
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        gap: .6em;

        .actions a {
            width: 100%;
        }
    }
}