@use '@/assets/styles/_mixins.scss' as *;

.theme {
    display: flex;
    border-radius: .75em;
    background-color: var(--color-surface-glass-secondary);
    border: 1px solid var(--color-stroke-secondary);
    transition: border-color var(--transition);
    @include cursor(pointer);
    flex-flow: column nowrap;
    overflow: hidden;

    .head {
        display: flex;
        flex-flow: column nowrap;
        gap: .3em;
        padding: 1em;
        overflow: hidden;

        .title {
            font-size: 1.1em;
            letter-spacing: .02em;
            font-weight: 600;
            @include text-ellipsis();
        }
        .description {
            color: var(--color-text-description);
            @include text-ellipsis();
        }
    }

    .cover {
        display: flex;
        flex: 1;
        background-color: var(--color-leader);
        border-top: 1px solid var(--color-stroke-secondary);
        background-size: cover;
        background-position: center;
    }
}