@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 1rem;
    padding-bottom: 3rem;

    @media (max-width: 720px) {
        padding-left: .4rem;
        padding-right: .4rem;
    }
}
.focus {
    @include focus();
    flex-flow: column nowrap;
    gap: 1px;
    justify-content: end;
    background-color: var(--color-stroke-primary);
    padding: 1px;
    position: relative;

    .brand {
        color: var(--color-brand);
    }
}
.line {
    display: flex;
    flex-flow: row nowrap;
    gap: 1px;
    position: relative;

    .cross {
        width: 1em;
        height: 1em;
        fill: var(--color-brand);
        color: var(--color-brand);
        position: absolute;
        z-index: 15;

        path {
            stroke-width: .2em;
        }
    }
    .link {
        font-size: .65rem;
        font-weight: 400;
        color: var(--color-text-ghost);
        transition: color var(--transition);

        &:hover {
            color: var(--color-accent);
        }
    }

    .col {
        background-color: var(--color-leader);
        flex: 1;
        position: relative;
        flex-basis: 33%;

        @media (max-width: 720px) {
            flex-basis: content;
        }
    }

    &:nth-child(1) {
        height: fit-content;

        .cross {
            right: -.5em;
            top: -.5em;
        }

        .col {
            display: flex;
            padding: 1.3rem;
            flex-flow: column nowrap;
            gap: 1em;
            font-size: .7em;
            font-weight: 600;
            line-height: 1.2;
            @include cursor(pointer);
            height: 100%;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;

            &:nth-child(1) {
                background: linear-gradient(315deg, var(--color-leader), var(--color-surface-primary));

                .counter {
                    display: flex;
                    flex-flow: column nowrap;
                    font-size: 2.8em;
                    font-weight: 600;

                    .value {
                        transition: transform var(--transition), color var(--transition);
                    }
                    .ghost {
                        font-size: .3em;
                        color: var(--color-text-ghost);
                    }
                }
                .brand {
                    color: var(--color-brand);
                }

                &:hover {
                    .counter .value {
                        transform: translateY(-.3em);
                        color: var(--color-brand);
                    }
                }
            }
            &:nth-child(2) {
                justify-content: end;

                .circles {
                    display: flex;
                    height: 3rem;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    .circle {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        background: linear-gradient(315deg, var(--color-surface-secondary), var(--color-surface-tertiary));
                        border: 2px solid var(--color-leader);
                        margin-left: -.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5em;
                        font-weight: 600;
                        color: var(--color-leader);
                        transition: margin-left var(--transition), color var(--transition);

                        &:nth-child(1) {
                            margin-left: 0;
                        }
                    }
                }
                .title {
                    display: block;
                    text-align: center;
                    font-size: 1.1em;
                }
                &:hover {
                    .circles .circle {
                        margin-left: 0;
                        color: var(--color-brand);
                    }
                }
            }
        }

        @media (max-width: 720px) {
            flex-flow: column nowrap;

            .col {
                min-height: 10rem;
            }
        }
    }
    &:nth-child(2) {
        min-height: 20rem;

        .cross {
            left: -.5em;
            top: -.5em;
        }
        
        .col {
            &:nth-child(1) {
                background-color: var(--color-surface-primary);
            }
            &:nth-child(2) {
                background-color: var(--color-brand);
            }

        }

        @media (max-width: 720px) {
            flex-flow: column nowrap;

            .col {
                min-height: 20rem;
            }
        }
    }
    &:nth-child(3) {
        min-height: 20rem;

        .cross {
            right: -.5em;
            bottom: -.5em;
        }
        
        @media (max-width: 720px) {
            flex-flow: column nowrap;

            .col {
                min-height: 20rem;
            }
        }
    }
}