@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.focus {
    @include focus();
    flex-flow: column nowrap;
    gap: 1px;
    justify-content: end;
    background-color: var(--color-stroke-primary);
    padding: 1px;
    position: relative;

    .brand {
        color: var(--color-brand);
    }
}
.line {
    display: flex;
    flex-flow: row nowrap;
    gap: 1px;
    position: relative;

    .cross {
        width: 1em;
        height: 1em;
        fill: var(--color-brand);
        color: var(--color-brand);
        position: absolute;
        z-index: 15;

        path {
            stroke-width: .2em;
        }
    }

    .col {
        background-color: var(--color-leader);
        flex: 1;
    }

    &:nth-child(1) {
        min-height: 14rem;

        .cross {
            right: -.5em;
            top: -.5em;
        }

        .col {
            &:nth-child(1) {
                background: linear-gradient(315deg, var(--color-leader), var(--color-surface-primary));
            }

        }

        @media (max-width: 720px) {
            flex-flow: column nowrap;

            .col {
                min-height: 10rem;
            }
        }
    }
    &:nth-child(2) {
        min-height: 20rem;

        .cross {
            left: -.5em;
            top: -.5em;
        }
        
        .col {
            &:nth-child(1) {
                background-color: var(--color-surface-primary);
            }
            &:nth-child(2) {
                background-color: var(--color-brand);
            }

        }

        @media (max-width: 720px) {
            flex-flow: column nowrap;

            .col {
                min-height: 20rem;
            }
        }
    }
    &:nth-child(3) {
        min-height: 20rem;

        .cross {
            right: -.5em;
            bottom: -.5em;
        }
        
        @media (max-width: 720px) {
            flex-flow: column nowrap;

            .col {
                min-height: 20rem;
            }
        }
    }
}