@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    border-top: 1px solid var(--color-stroke-secondary);
    padding: 1em 0;

    .info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1em;
        
        .date {
            color: var(--color-text-description);
            display: inline-flex;
            white-space: nowrap;
        }
        .company {
            display: flex;
            flex: 1;
            line-height: 1.3;
            font-size: 1.2em;
        }
        .status {
            &.waiting {
                color: var(--color-orange);
            }
            &.rejected {
                color: var(--color-red);
            }
            &.accepted {
                color: var(--color-green);
            }
        }
    }
    .actions {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;

        .action {
            flex: 1;
            border-radius: 2em;
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}