@use '@/assets/styles/_mixins.scss' as *;

// theses grid
.theses {
    display: flex;
    flex-flow: row wrap;
    font-size: .6em;
    background-color: var(--color-leader);

    .block {
        height: 10rem;
        flex: 1;
        padding: 2rem 1.5rem;
        min-width: 33%;
    }

    @media (max-width: 720px) {
        flex-direction: column;

        .block {
            padding: 1rem 1rem;
            height: fit-content;

            &:nth-child(1) {
                padding-top: 2rem;
            }
            &:last-child {
                padding-bottom: 2rem;
            }
        }
    }
}
