@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid var(--color-stroke-secondary);

    .base {
        display: flex;
        padding: 1em 0;
        flex-flow: row nowrap;
        align-items: start;
        gap: 1em;

        .avatar {
            display: inline-flex;
            min-width: 3em;
            width: 3em;
            height: 3em;
            background-color: var(--color-surface-secondary);
            border-radius: 50%;
            border: 2px solid var(--color-stroke-primary);
            background-size: cover;
            background-position: center;
            align-items: center;
            justify-content: center;
            font-size: 1.25em;
            color: var(--color-leader);
            font-weight: 600;
        }
        .info {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            gap: .7em;
            font-size: .85em;
            padding: .8em 0;
            color: var(--color-text-primary);

            .identy {
                display: flex;
                flex-flow: row wrap;
                gap: .5em;
                font-size: 1.1em;

                .email {
                    color: var(--color-text-description);
                    @include cursor(pointer);
                }
            }
            .tags {
                display: flex;
                font-size: .7em;
                display: flex wrap;
                justify-content: start;
                gap: .5em;

                .tag {
                    display: inline-flex;
                    padding: .3em .6em;
                    background-color: var(--color-surface-light);
                    border-radius: 1em;
                    @include cursor(pointer);
                    border: 1px solid var(--color-stroke-secondary);
                }
            }
        }
        .actions {
            display: inline-flex;
            flex-flow: row wrap;
            gap: 1em;
            font-size: .74em;

            .action {
                border-radius: 2em !important;
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
}