@use '@/assets/styles/_mixins.scss' as *;

.canvas {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: var(--color-surface-area);
    
    // background: linear-gradient(135deg, #242424, #230f27);
}

.container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    // background-color: var(--color-surface-area);
    padding: 0 .2rem;
    @media (max-width: 720px) {
    }
}