@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;

    @media (max-width: 720px) {
    }
}

.panel.quickAccess {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    max-width: 2.7rem;
    min-width: 2.7rem;
    max-height: calc(100vh - var(--header-height));
    overflow: hidden;

    .top {
        @include no-scrollbar();
        display: block;
        overflow-y: scroll;
        height: 100%;
        
        .sections {
            display: flex;
            font-size: .23em;
            flex-flow: column nowrap;
            gap: .5rem;

            .section {
                display: flex;
                flex-flow: column nowrap;
                gap: 1em;
                @include cursor(pointer);
                overflow: hidden;

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;

                    .svg {
                        width: 3em;
                        height: 3em;
                        fill: var(--color-icon-primary);
                        transition: fill var(--transition);
                    }
                }
                .name {
                    display: block;
                    text-align: center;
                    transition: color var(--transition);
                    color: var(--color-text-secondary);
                    padding: 0 1em;

                    .text {
                        display: inline-block;
                        @include text-plug();
                        // @include text-ellipsis();
                    }
                }
                &:hover {
                    .icon .svg {
                        fill: var(--color-text-primary);
                    }
                    .name {
                        color: var(--color-text-primary);
                    }
                }
            }
        }
        .inter {
            display: flex;
            align-items: center;
            height: 1rem;
            justify-content: center;

            span {
                width: 70%;
                height: 1px;
                background-color: var(--color-stroke-secondary);
            }
        }
        .companies {
            display: flex;
            flex-flow: column nowrap;
            gap: .4rem;
            flex: 1;
            justify-content: start;
            align-items: center;
            padding: 0 0;

            .item {
                display: flex;
                width: 2rem;
                height: 2rem;
                background-color: var(--color-surface-primary);
                border-radius: .4rem;
                // border: 1px solid var(--color-surface-glass);
                cursor: pointer;
                transition: transform var(--transition);
                position: relative;

                .sign, .new {
                    position: absolute;
                    z-index: 10;
                    border: 2px solid var(--color-leader);
                    background-color: var(--color-leader);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .sign {
                    bottom: -.1rem;
                    right: -.1rem;
                    display: flex;
                    width: .7rem;
                    height: .7rem;
                    border-radius: .2rem;

                    .svg {
                        width: .4rem;
                        height: .4rem;
                        fill: var(--color-icon-primary);
                    }
                }
                .new {
                    height: .84rem;
                    top: -.1rem;
                    right: -.15rem;
                    padding: 0 .2rem;
                    background-color: var(--color-green);
                    border-radius: .4rem;
                    font-size: .34em;
                    color: #000;
                }

                &:hover {
                    transform: scale(1.02);
                }
                // &:nth-child(1) {
                //     background-color: var(--color-green);
                // }
                // &:nth-child(2) {
                //     background-color: var(--color-red);
                // }
            }
        }
    }

    .bottom {
        display: flex;
        flex-flow: column nowrap;
        pointer-events: none;
        justify-content: end;
        align-items: center;
        padding: .6rem 0;
        box-shadow: 0 0 0rem var(--color-leader);

        .avatar {
            background-color: var(--color-surface-glass-secondary);
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: linear-gradient(45deg, #DD70F2, #E4685C);
            padding: 2px;

            .img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--color-leader);
            }
        }
    }
}

.panel.company {
    display: flex;
    width: 11rem;
    padding: .2rem;

    .area {
        display: block;
        overflow-y: scroll;
        flex: 1;
        border-radius: .2rem;
        max-height: calc(100vh - var(--header-height) - .5rem);
        @include no-scrollbar();
    }
    .grid {
        display: flex;
        flex: 1;
        // background-color: var(--color-surface-primary);
        border-radius: .2rem;
        flex-flow: column nowrap;
        gap: .4rem;
        justify-content: start;
        overflow: hidden;

        .label {
            height: 6rem;
            background-color: var(--color-surface-glass);
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
        .basics {
            display: flex;
            padding: .5rem;
            flex-flow: column nowrap;
            justify-content: center;
            font-size: .55em;
            gap: .2em;
            align-items: start;

            .slogan {
                font-size: .7em;
                color: var(--color-text-description);
            }
            .name, .slogan {
                @include text-plug();
            }
        }
        .body {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            font-size: .4em;
            gap: .3em;

            .section {
                display: flex;
                flex-flow: row nowrap;
                padding: .4em;
                gap: 1em;
                // border: 1px solid var(--color-stroke-secondary);
                transition: background-color var(--transition), border var(--transition);
                cursor: pointer;
                border-radius: .2em;
                overflow: hidden;


                .icon {
                    display: flex;
                    align-items: center;

                    .svg {
                        width: 1.3em;
                        height: 1.3em;
                        fill: var(--color-icon-primary);
                    }
                }
                .info {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: .2em;
                    flex: 1;
                    justify-content: center;
                    align-items: start;
                    overflow: hidden;

                    .title {
                        transition: color var(--transition);
                        color: var(--color-text-description);
                        @include text-plug();
                        // @include text-ellipsis();
                    }
                }
                .add {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: .2em;

                    .item {
                        display: inline-flex;
                        align-items: center;
                        background-color: var(--color-stroke-secondary);
                        color: transparent;
                        border-radius: .2em;
                        padding: 0 .4em;

                        .svg {
                            width: 1em;
                            height: 1em;
                            fill: var(--color-icon-primary);
                        }
                    }
                }

                &:hover {
                    background-color: var(--color-surface-glass-secondary);

                    .info .title {
                        color: var(--color-text-primary);
                    }
                }
            }
            .inter {
                height: 1em;
            }
        }
    }
}

.content {
    display: flex;
    flex: 1;
    padding: .2rem;
    overflow: hidden;

    .area {
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        flex: 1;
        background-color: var(--color-surface-area);
        border-radius: .2rem;
        max-height: calc(100vh - var(--header-height) - .5rem);
        position: relative;

        .breadcrumbs {
            top: 0;
            position: sticky;
            height: 2rem;
            background-color: var(--color-surface-area);
            border-bottom: 1px solid var(--color-stroke-primary);
            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
            align-items: center;
            padding: .4rem .7rem;
            font-size: .35em;
            gap: 1em;
            color: var(--color-text-ghost);
            overflow: hidden;

            .point {
                display: inline-block;
                @include cursor(pointer);
                transition: color var(--transition);
                @include text-plug();

                &:hover {
                    color: var(--color-accent);
                }
            }
            .inter {
                color: var(--color-stroke-primary);
            }
        }
    }
}