@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    background-color: var(--color-surface-area);
    padding: 0 .2rem;

    @media (max-width: 720px) {
    }
}