@use '@/assets/styles/_mixins.scss' as *;

// footer parent container
.container {
    border-top: 1px solid var(--color-stroke-secondary);
    display: flex;
    padding: 1rem .8rem;
    justify-content: center;
    font-size: .6em;
}

// focus area
.focus {
    display: flex;
    width: 100%;
    max-width: var(--focus-width);
    flex-flow: row nowrap;
    gap: 3rem;

    .brand {
        display: flex;
        flex-flow: column nowrap;
        gap: .1em;
        max-width: 9rem;
        align-items: start;
        
        .logo {
            height: fit-content;
            font-size: 1.6em;
        }
        .slogan {
            font-size: .6em;
            color: grey;
            line-height: 1.3;
            // padding-left: .7em;
        }

        
        .switcher {
            margin-top: 1rem;
            height: 1.42em;
            display: inline-flex;
            flex-flow: row nowrap;
            border-radius: 1rem;
            background-color: var(--color-surface-glass);
            border: 1px solid var(--color-stroke-primary);
            overflow: hidden;

            .box {
                display: inline-flex;
                width: 1.3rem;
                height: 1.3rem;
                align-items: center;
                justify-content: center;
                transition: background-color var(--transition), border-color var(--transition);
                border-radius: .3rem;
                border: 1px solid transparent;
                @include cursor(pointer);

                .svg {
                    width: 40%;
                    height: 40%;
                    fill: var(--color-icon-primary);
                    transition: fill var(--transition);
                }

                &:hover {
                    background-color: var(--color-surface-elevated);
                }
                &.active {
                    background-color: var(--color-contrast);

                    .svg {
                        fill: var(--color-leader);
                    }
                }
            }
        }
    }
    .sections {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        gap: 2rem 1.5rem;
        padding: .5rem 0 3rem 0;
        font-size: .6em;

        .group {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.2em;
            min-width: 9rem;
            max-width: 9rem;

            .name {
                margin-bottom: .4em;
                color: var(--color-text-ghost);
            }
            .section {
                font-size: .95em;
                @include cursor(pointer);
                transition: color var(--transition);
                line-height: 1.3;
                color: var(--color-text-primary);

                &:hover {
                    color: var(--color-text-hint);
                }
            }
        }
    }

    @media (max-width: 720px) {
        flex-flow: row wrap;
        gap: .2rem;

        .brand {
            max-width: 100%;
        }
        .sections {
            gap: 2rem .4rem;
            margin-top: 1rem;
        }
        .sections .group {
            width: 30%;
            max-width: calc(50% - .2rem);
            min-width: calc(50% - .2rem);
        }
    }
}