@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
}
.focus {
    @include focus();
    min-height: 24rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: end;

    .brand {
        color: var(--color-brand);
    }
}
.col {
    display: flex;

    &:nth-child(1) {
        flex-flow: column nowrap;
        align-items: start;
        font-size: 1em;
        gap: .3em;

        .logo {
            font-size: 2em;
        }
        .slogan {
            font-weight: 800;
            letter-spacing: .01em;
            font-size: 1.4em;
        }
        .description {
            margin-top: 2em;
            font-size: .7em;
            line-height: 1.3;
            max-width: 80%;
            color: var(--color-text-secondary);

            @media (max-width: 720px) {
                font-size: .6em;
                max-width: 90%;
            }
        }
    }
}