@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: block;
    flex: 1;
    position: relative;
    
    .area {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        z-index: 10;
        gap: 1rem;

        .link {
            display: flex;
            flex: 1;
            align-items: end;
        }
        .link .circle {
            display: inline-flex;
            width: 2.2rem;
            height: 2.2rem;
            border: 1px solid var(--color-stroke-secondary);
            border-radius: 50%;
            transition: background-color var(--transition);
            @include cursor(pointer);
            align-items: center;
            justify-content: center;
            background-color: var(--color-surface-secondary);

            .svg {
                width: .5rem;
                height: .5rem;
                fill: var(--color-text-ghost);
                transition: fill var(--transition);
            }

            &:hover {
                background-color: var(--color-surface-glass-secondary);

                .svg { 
                    fill: var(--color-brand);
                }
            }
        }
        
        .title {
            line-height: 1.15;
            color: var(--color-text-ghost);
            font-size: .65em;
            font-weight: 600;
        }
        .description {
            line-height: 1.3;
            color: var(--color-text-ghost);
            font-size: .4em;
        }
    }

    .contrast { color: var(--color-contrast); }
    .brand { color: var(--color-brand); }

    // modal svg
    .art {
        position: absolute;
        z-index: 1;
        right: -2px;
        bottom: -2px;
        height: 100%;
    }
}