@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    min-height: 3em;
    align-items: start;
    padding: .5em 0;
    color: var(--color-text-primary);

    .icon {
        display: inline-flex;
        min-width: 3em;
        width: 3em;
        height: 3em;
        border-radius: .55em;
        background-color: var(--color-surface-light);
        box-shadow: 0 0 .4em var(--color-surface-elevated);
        border: 1px solid var(--color-stroke-secondary);
        align-items: center;
        justify-content: center;
        font-weight: 600;
        letter-spacing: .02em;
        color: var(--color-leader);
    }

    .info {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        padding: .3em 0;
        gap: .3em;

        .name {
            font-weight: 600;
            letter-spacing: .02em;
            line-height: 1.2;
        }
        .comment {
            font-size: .7em;
            line-height: 1.3;
            max-width: 25rem;
        }
        .tags {
            display: flex;
            flex-flow: row wrap;
            font-size: .7em;
            gap: .5em;

            .tag {
                padding: .3em .5em;
                border-radius: 2em;
                background-color: var(--color-surface-light);
                @include cursor(pointer);

                &.accent {
                    background-color: var(--color-accent);
                    color: var(--color-accent-text-primary);
                }
            }
        }
    }
    .actions {
        display: flex;
        flex-flow: row wrap;
        font-size: .8em;
        gap: .5em;
        opacity: 1;
        transition: opacity var(--transition);

        .action {
            border-radius: 2em;
            height: 3em;
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.02);
            }
        }
    } 

    &:hover {
        .actions {
            opacity: 1;
        }
    }
}