@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 33rem;

    @media (max-width: 720px) {
        padding-left: .4rem;
        padding-right: .4rem;
    }
}
.focus {
    @include focus();
    flex-flow: column nowrap;
    gap: 1rem;
    position: relative;

    .brand {
        color: var(--color-brand);
    }
}

.col {
    display: flex;

    &:nth-child(1) {
        justify-content: center;
        flex-flow: column nowrap;
        height: 7rem;
        gap: .6rem;
        
        .title {
            font-size: 1.1em;
            text-align: center;
            line-height: 1.1;
            font-weight: 800;
        }
        .description {
            font-size: .55em;
            text-align: center;
            line-height: 1.3;
            font-weight: 800;
            color: var(--color-text-ghost);
        }
        @media (max-width: 720px) {
            .title {
                font-size: 1.1em;
            }
        }
    }
    &:nth-child(2) {
        flex-flow: row wrap;
        gap: .9rem;
        padding: 0 5rem;

        .box {
            display: flex;
            flex: 1;
            min-height: 23rem;
            background-color: var(--color-surface-glass-secondary);
            border-radius: 1rem;
            border: 1px solid var(--color-stroke-secondary);

            &:nth-child(1) {
                background-color: rgb(156 87 87);
            }
            &:nth-child(2) {
                background-color: rgb(87, 100, 156);
            }
        }

        @media (max-width: 720px) {
            gap: .4rem;
            padding: 0;
            flex-direction: column;
        }
    }
}