@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    height: fit-content;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 1rem;
    min-height: 20rem;

    .focus {
        @include focus();
        flex-flow: column nowrap;
        gap: 1rem;

        @media (max-width: 720px) {
            font-size: .75em;
        }
    }
}

.col {
    display: flex;

    &:nth-child(1) {
        flex-flow: column nowrap;
        gap: 1em;
        align-items: center;
        justify-content: center;

        .topic {
            @include topic-link();
            font-size: .5em;
        }
        .capture {
            font-size: 1.2em;
            font-weight: 600;
            line-height: 1.1;

            .brand {
                color: var(--color-brand);
            }
        }
        .description {
            font-size: .44em;
            width: 70%;
            line-height: 1.4;
            color: var(--color-text-secondary);
            text-align: center;
        }

        @media (max-width: 720px) {
            .topic {
                font-size: .7em;
            }
            .description {
                font-size: .56em;
                width: 100%;
            } 
        }
    }
    &:nth-child(2) {
        flex: 1;
    }
}