@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    position: relative;
    overflow: hidden;

    .content {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
        z-index: 10;

        .slogan {
            font-size: 1.8em;
            font-weight: 600;
            letter-spacing: .03em;

            .brand {
                color: var(--color-blue);
            }
        }
        .description {
            font-size: .8em;
            line-height: 1.4;
            max-width: 35rem;
        }
        .actions {
            display: inline-flex;
            flex-flow: row wrap;
            gap: 1em;
            font-size: .73em;
        }
    }
    .shadow {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent, var(--color-leader));
    }
    .art svg {
        position: absolute;
        z-index: 1;
        top: -2rem;
        left: 0;
        width: 100%;
    }

    @media (max-width: 720px) {
        .content .slogan {
            font-size: 1.45em;
        }
        .art svg {
            width: fit-content;
            max-width: fit-content;
            max-height: 100%;
            height: 100%;
        }
    }
}