@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();

    @media (max-width: 720px) {
        font-size: .8em;
    }
}
.focus {
    @include focus();
    min-height: 26rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: end;
    position: relative;

    .icon {
        position: absolute;
        z-index: 100;
        font-size: 9em;
        right: -.5em;
        top: -.1em;
    }
    .brand {
        color: var(--color-brand);
    }
    @media (max-width: 720px) {
        min-height: 28.9rem;

        .icon {
            font-size: 6em;
            right: -.5em;
            top: -.3em;
        }
    }
}
.col {
    display: flex;

    &:nth-child(1) {
        flex-flow: column nowrap;
        align-items: start;
        font-size: 1em;
        gap: .3em;

        .logo {
            font-size: 2em;
        }
        .slogan {
            font-weight: 800;
            letter-spacing: .01em;
            font-size: 1.4em;
            line-height: 1;

            @media (max-width: 720px) {
                font-size: 1em;
            }
        }
        .description {
            margin-top: 1em;
            margin-bottom: 1em;
            font-size: .65em;
            line-height: 1.3;
            max-width: 80%;
            color: var(--color-text-secondary);
            flex-flow: column;

            @media (max-width: 720px) {
                font-size: .6em;
                max-width: 90%;
            }
        }
        .note {
            color: var(--color-text-ghost);
            font-size: .45em;
            margin-top: .5em;
            line-height: 1.2;
        }
        .actions {
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
            font-size: .45em;

            .action {
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.03);
                }
            }

            @media (max-width: 720px) {
                width: 100%;

                .action {
                    flex: 1;
                }
            }
        }
    }
}