@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    position: relative;

    @media (max-width: 720px) {
        font-size: .8em;
    }
}
.focus {
    @include focus();
    min-height: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: end;
    z-index: 1;

    .icon {
        position: absolute;
        z-index: 100;
        font-size: 9em;
        right: -.5em;
        top: -.1em;
    }
    .brand {
        color: var(--color-brand);
    }
    @media (max-width: 720px) {
        min-height: 21.9rem;
        padding-top: 5rem;
        justify-content: start;

        .icon {
            font-size: 6em;
            right: -.5em;
            top: -.3em;
        }
    }
}
.col {
    display: flex;

    &:nth-child(1) {
        flex-flow: column nowrap;
        font-size: 1em;
        gap: .3em;

        .logo {
            font-size: 2em;
        }
        .slogan {
            font-weight: 800;
            letter-spacing: .01em;
            font-size: 1.4em;
            line-height: 1;

            @media (max-width: 720px) {
                font-size: 1em;
                line-height: 1.1;
                text-align: center;
            }
        }
        .description {
            margin-top: 1em;
            margin-bottom: 1em;
            font-size: .45em;
            line-height: 1.4;
            max-width: 40%;
            color: var(--color-text-ghost);
            flex-flow: column;
            font-weight: 500;

            @media (max-width: 720px) {
                font-size: .52em;
                max-width: 90%;
                text-align: center;
            }
        }
        .note {
            color: var(--color-text-ghost);
            font-size: .4em;
            margin-top: .5em;
            line-height: 1.2;
        }
        .actions {
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
            font-size: .4em;

            .action {
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.03);
                }
            }

            @media (max-width: 720px) {
                width: 100%;
                font-size: .45em;

                .link {
                    display: flex;
                    flex: 1;
                }
                .action {
                    flex: 1;
                }
            }
        }
    }
}