@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1em;
    position: relative;

    .capture {
        font-size: 1.6em;
        font-weight: 600;
        letter-spacing: .02em;
        line-height: 1.15;
        text-align: center;
    }
    .topic {
        font-size: .9em;
        text-align: center;
        line-height: 1.3;
    }

    .accent {
        color: var(--color-accent);
    }

    .art {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}