@use '@/assets/styles/_mixins.scss' as *;

.remained {
    margin-bottom: 1em;

    .accent {
        color: var(--color-text-hint);
    }
}

.grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: .7em;

    .item {
        &.selected {
            border: 2px solid var(--color-accent);
        }
    }
}

.payBlock, .paymentBlock {
    margin-bottom: 1em;
    border-bottom: 1px dashed var(--color-stroke-primary);
    border-top: 1px dashed var(--color-stroke-primary);
}

.loading, .error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10em;

    .text {
        text-align: center;
        color: var(--color-text-ghost);
        line-height: 1.3;
    }
}