@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-surface-secondary);
    min-height: 100vh;

    .content {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }
}

// sign in/up main frame
.content .frame {
    display: flex;
    flex-flow: column nowrap;
    width: 18rem;
    min-height: 15rem;
    gap: 1rem;
    font-size: .6em;

    .head {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: .3rem;
        gap: 1rem;

        .logo {
            font-size: 1.3em;
        }
    }
    .warning {
        font-size: .62em;
        line-height: 1.3;
        color: var(--color-text-description);

        a {
            color: var(--color-text-hint);
        }
    }
    .line {
        display: flex;
        flex-flow: row nowrap;
        height: 1.3rem;
        font-size: .7em;
        color: var(--color-text-ghost);
        align-items: center;
        gap: 1em;

        .part {
            display: flex;
            flex: 1;
            height: 1px;
            background-color: var(--color-stroke-tertiary);
        }
        .word {
            display: inline-flex;
        }
    }
    .success {
        display: flex;
        font-size: .6em;
        line-height: 1.3;
        padding: 1.4em;
        border-radius: 1em;
        border: 2px solid var(--color-accent);
        align-items: center;
    }
    .error {
        display: flex;
        border-radius: .9em;
        background-color: var(--color-surface-glass-secondary);
        backdrop-filter: blur(10px);
        border: 1px solid var(--color-stroke-secondary);
        align-items: center;
        font-size: .6em;
        padding: 1em 1.2em;
        flex-flow: row nowrap;
        border-left: 4px solid var(--color-red);
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        width: 15rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .capture {
            display: flex;
            line-height: 1.3;
            flex: 1;
            font-size: 1.1em;
            // font-weight: 600;
            // letter-spacing: 0.02em;
            color: var(--color-text-ghost);
        }
        .button {
            display: inline-flex;
            padding: .4em;
            transition: background-color var(--transition);
            border-radius: .5em;
            @include cursor(pointer);
            background-color: transparent;

            .svg {
                width: 1.6em;
                height: 1.6em;
                stroke: var(--color-icon-primary);
            }
            &:hover {
                background-color: var(--color-surface-tertiary);
            }
        }

        @media (max-width: 720px) {
            width: calc(100vw - 2rem);
        }
    }
    .credentials, .actions {
        display: flex;
        flex-flow: column nowrap;
        gap: .9rem;
        font-size: .6em;

        .split {
            display: flex;
            flex-flow: row nowrap;
            gap: .8rem;

            .section {
                flex: 1;
            }
        }
        .section {
            display: flex;
            flex-flow: column nowrap;
            gap: .3rem;

            .capture {
                letter-spacing: .02em;
                font-size: .9em;
                font-weight: 600;
                color: var(--color-text-ghost);
            }
            .hint {
                letter-spacing: .02em;
                font-size: .9em;
                font-weight: 600;
                margin-top: .2em;
                color: var(--color-text-hint);
                @include cursor(pointer);
            }
        }
    }
    .actions {
        gap: .4rem;

        .split {
            gap: .4rem;
        }
    }

    .input, .action {
        width: 100%;
        gap: .7em;

        .svg {
            width: 1.3em;
            height: 1.3em;
            fill: var(--color-icon-primary);
        }
    }
    .input {
        border: 2px solid var(--color-stroke-secondary);
        transition: border-color var(--transition);

        &:hover {
            border-color: var(--color-stroke-primary);
        }

        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 1px var(--color-accent);
            border-color: var(--color-accent);
        }
    }

    @media (max-width: 720px) {
        width: 90%;
        font-size: .55em;
    }
}