@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    border-bottom: 1px solid var(--color-stroke-secondary);
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 1rem 0;

    .icon {
        display: inline-flex;
        align-items: start;

        .avatar {
            display: flex;
            width: 2.2em;
            height: 2.2em;
            border-radius: .4em;
            border: 1px solid var(--color-stroke-secondary);
            background-color: var(--color-surface-secondary);
            background-size: cover;
            background-position: center;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
        }
    }
    .info {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        gap: .4em;
        font-size: .94em;
        padding: .2em 0;

        .capture {
            transition: color var(--transition);
            letter-spacing: .02em;
            font-size: .9em;
            display: flex;
            flex-flow: row wrap;
            gap: .5em;
            line-height: 1.3;
            @include cursor(pointer);
            
            &:hover {
                color: var(--color-text-hint);
            }

            .marks {
                display: inline-flex;
                flex-flow: row wrap;
                gap: .5em;
                color: var(--color-text-description);

                .svg {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
        }

        .description {
            font-size: .7em;
            line-height: 1.3;
            color: var(--color-text-ghost);
            @include lines-ellipsis(4);
        }

        .joined {
            font-size: .7em;
            line-height: 1.3;
        }

        .tags {
            display: flex;
            font-size: .65em;
            flex-flow: row wrap;
            gap: .7em;
            margin-top: .3em;

            .tag {
                display: inline-flex;
                padding: .4em .7em;
                border-radius: 1em;
                background-color: var(--color-surface-elevated);
                border: 1px solid var(--color-stroke-primary);
                flex-flow: row wrap;
                gap: .3em;
                @include cursor(pointer);
            }
        }

        .green {
            color: var(--color-green);
        }
    }

    .stat {
        display: inline-flex;
        min-width: 10rem;
        align-items: start;
        font-size: .8em;
        flex-flow: column nowrap;
    }
}