@use '@/assets/styles/_mixins.scss' as *;

.slide {
    @include slide();
    height: fit-content;
    padding-top: 3rem;
    padding-bottom: .5rem;

    .focus {
        @include focus();
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        width: 100%;
        gap: 1em;
    }

    @media (max-width: 720px) {
        padding-top: 0;
        padding-bottom: 0;
        padding: 0 1rem;
        gap: 2em;

        .focus {
            height: 22rem;
            justify-content: end;
        }
    }
}

.slogan {
    display: flex;
    flex-flow: column nowrap;
    gap: .4em;
    font-size: 1.7em;
    font-weight: 600;

    .capture {
        display: block;
        text-align: center;
        line-height: 1.1;
        font-size: 2em;

        @media (max-width: 720px) {
            font-size: 1.8em;
        }
    }

    .subject {
        display: flex;
        justify-content: center;
        font-size: 1em;
        
        .container {
            display: block;
            height: 1.2em;

            
            .word {
                display: flex;
                align-items: center;
                gap: .2em;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                
                &.visible {
                    opacity: 1;
                    transform: translateY(0);
                }
                
                &.hidden {
                    opacity: 0;
                    transform: translateY(10px);
                }
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .name {
                font-weight: 600;
            }

            .svg {
                width: 1em;
                height: 1em;
                fill: currentColor;
            }
        }

        @media (max-width: 720px) {
            font-size: .7em;
        }
    }

    .title {
        font-size: .9em;
        font-weight: 600;
        padding: .2em 0;
        text-align: center;
        line-height: 1.2;

        .brand {
            color: var(--color-brand);
        }

        @media (max-width: 720px) {
            font-size: .65em;
        }
    }
}
.description {
    font-size: .6em;
    max-width: 30rem;
    line-height: 1.4;
    // font-weight: 600;
    text-align: center;

    .accent {
        color: var(--color-accent);
    }
    @media (max-width: 720px) {
        font-size: .6em;
    }
}
.actions {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: .42em;
    gap: .8em;

    .action {
        padding: 0 1.4em;
        height: 3em;
        border-radius: .6em;
        transition: transform var(--transition);
        position: relative;
        overflow: hidden;

        .circle {
            position: absolute;
            z-index: 10;
            border-radius: 50%;
            background-color: #fff;
            display: none;

            &:nth-child(1) {
                bottom: -1px;
                left: -1px;
                width: 10px;
                height: 10px;
            }
            &:nth-child(2) {
                bottom: 10px;
                left: 8px;
                width: 8px;
                height: 8px;
            }
            &:nth-child(3) {
                bottom: 21px;
                left: 15px;
                width: 7px;
                height: 7px;
            }
        }
        .addition {
            position: absolute;
            z-index: 10;
            top: 5px;
            left: 5px;
            color: #000;
            font-size: 10px;
            min-width: 20px;
            min-height: 20px;
            padding: 0 3px;
            border-radius: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            background-color: #fff;
            display: none;
        }

        &:hover {
            transform: scale(1.02);
        }
    }
    @media (max-width: 720px) {
        flex-direction: column;
        font-size: .55em;

        .action {
            display: flex;
            width: 100%;
            height: 3.2em;
            font-weight: 600;

            .circle {
                display: block;
            }
            .addition {
                display: inline-flex;
            }
        }
    }
}