.link {
    text-decoration: dashed;
    transition: color var(--transition);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: .3em;
    text-decoration-color: var(--color-text-hint);
    text-decoration-thickness: 2px;

    &:hover {
        color: var(--color-text-hint);
    }
}

.underline {
    text-decoration: dashed;
    transition: color var(--transition);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: .3em;
    text-decoration-color: var(--color-text-primary);
    text-decoration-thickness: 2px;
}

.tag {
    padding: 0 .4em;
    border-radius: .4em;
    border: 1px dashed var(--color-stroke-primary);
}

.secondary {
    color: var(--color-text-secondary);
}

.accent {
    color: var(--color-text-hint);
}