@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    min-height: 4rem;
    flex-flow: column nowrap;
    gap: 1em;
    color: var(--color-text-primary);
    padding: .7em 0;

    .base {
        display: flex;
        flex-flow: row nowrap;
        gap: .5em;

        
        .info {
            display: flex;
            flex-flow: column nowrap;
            gap: .2em;
            flex: 1;

            .name {
                font-weight: 600;
                letter-spacing: .02em;
                line-height: 1.2;
            }
            .description {
                font-size: .7em;
                color: var(--color-text-description);
                line-height: 1.3;
            }
            .tags {
                display: flex;
                flex-flow: row wrap;
                gap: .4em;
                font-size: .7em;
                margin-top: .3em;

                .tag {
                    padding: .6em .7em;
                    border-radius: 2em;
                    border: 2px solid var(--color-stroke-primary);
                    background-color: var(--color-surface-light);
                    @include cursor(pointer);

                    &.accent {
                        background-color: var(--color-accent);
                    }
                    &.red {
                        background-color: var(--color-red);
                    }
                    &.green {
                        background-color: var(--color-green);
                    }
                    &.accent, &.red, &.green {
                        color: var(--color-accent-text-primary);
                    }
                }
            }
        }
        .actions {
            font-size: .8em;
            gap: .6em;

            .action {
                border-radius: 2em;
                height: 3em;
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
    .counters {
        display: flex;
        flex-flow: row wrap;
        font-size: .7em;
        gap: 2em;

        .counter {
            padding: 0 !important;
            min-height: fit-content !important;
        }
    }
    .graph {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1em;

        .start, .end {
            font-size: .75em;
            color: var(--color-text-secondary);
            display: inline-flex;
            white-space: nowrap;
        }
        .indicators {
            height: 1.9em;
            display: flex;
            flex: 1;
            width: 100%;
            flex-flow: row nowrap;
            gap: .3em;

            .sector {
                display: inline-flex;
                background-color: var(--color-surface-light);
                border-radius: .4em;
                flex: 1;

                &.accent {
                    background-color: var(--color-accent);
                }
            }
        }
    }
}