@use '@/assets/styles/_mixins.scss' as *;

.tag {
    display: inline-flex;
    height: 2.8em;
    width: 10em;
    border-radius: .8em;
    border: 1px solid var(--color-stroke-primary);
    background-color: var(--color-surface-glass);
    backdrop-filter: blur(5px);
    padding: 0 1em;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
}