@use '@/assets/styles/_mixins.scss' as *;

.container {
    min-height: 26rem;
    position: relative;
    overflow: hidden;

    .mockUp {
        position: absolute;
        z-index: 50;
        height: 100%;
        bottom: 0;
        right: 0;
    }

    @media (max-width: 720px) {
        min-height: 13rem;

        .mockUp {
            height: auto;
            width: 100%;
            right: -10%;
        }
    }
}