@use '@/assets/styles/_mixins.scss' as *;

.container {
    min-height: 24rem;
    position: relative;
    overflow: hidden;

    .mockUp {
        position: absolute;
        z-index: 50;
        width: 90%;
        bottom: 0;
        left: 5%;
    }

    @media (max-width: 720px) {
        min-height: 9rem;

        .mockUp {
            height: auto;
        }
    }
}