@use '@/assets/styles/_mixins.scss' as *;

.panel {
    display: flex;
    width: 9rem;
    padding: .2rem;
    font-size: .37em;
    overflow: hidden;
    max-height: calc(100vh - var(--header-height));
    flex-flow: column nowrap;

    .head {
        display: none;
        border: 1px solid red;
        height: 3rem;
    }

    .scroll {
        display: block;
        flex: 1;
        overflow-y: scroll;
    }

    .sections {
        display: flex;
        flex-flow: column nowrap;
        padding: .4em 0;
        gap: .2em;

        .capture {
            color: var(--color-text-ghost);
            font-size: .85em;
            margin-bottom: .65em;
            font-weight: 600;
            padding: .3em;
        }

        .section {
            display: flex;
            flex-flow: row nowrap;
            gap: .44em;
            align-items: center;
            color: var(--color-text-ghost);
            overflow: hidden;
            border-radius: .7em;
            @include cursor(pointer);
            border: 2px solid transparent;
            transition: background-color var(--transition), border-color var(--transition), color var(--transition);

            .icon {
                display: inline-flex;
                padding: .4em .5em;
                
                .svg {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
            .name {
                @include text-ellipsis();
                font-size: .95em;
                overflow: hidden;
            }

            &:hover {
                color: var(--color-text-primary);
                background-color: var(--color-surface-secondary);
            }
            &.active {
                background-color: rgba(57, 57, 255, 0.162);
                color: var(--color-text-primary);
            }
        }
    }
    
    .companies {
        display: flex;
        min-height: 5rem;
        flex-flow: column nowrap;
        padding: .4em 0;
        
        .company {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            overflow: hidden;
            gap: .6em;
            border-radius: .6em;
            @include cursor(pointer);
            background-color: var(--color-surface-elevated);
            border: 1px solid transparent;

            .icon {
                display: inline-flex;
                padding: .2em;

                .avatar {
                    display: inline-flex;
                    width: 2.1em;
                    height: 2.1em;
                    border-radius: 50%;
                    background-color: var(--color-surface-primary);
                    border: 1px solid var(--color-stroke-primary);
                    align-items: center;
                    justify-content: center;
                }
            }
            .name {
                font-size: .97em;
            }

            &:hover {
                background-color: var(--color-surface-elevated);
                border: 1px solid var(--color-stroke-primary);
            }
        }
    }

    .foot {
        display: flex;
        flex-flow: column nowrap;
        border-top: 1px solid var(--color-stroke-secondary);
        justify-content: end;

        .collapseIcon.rotated {
            transform: rotate(180deg);
        }
    }

    &.compact {
        width: 2rem;
        padding-right: .4rem;

        .scroll {
            @include no-scrollbar();
        }
        
        .sections {
            padding: 0;
            gap: .4em;
            
            .capture { 
                display: none;
            }

            .section {
                .name { 
                    display: none;
                }

                .icon {
                    padding: 0;
                    flex: 1;
                    display: flex;
                    aspect-ratio: 1/1;
                    align-items: center;
                    justify-content: center;

                    .svg {
                        width: .8rem;
                        height: .8rem;
                    }
                }
            }
        }
        
        .companies {
            display: none;
        }
    }
}