@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: start;
}

.label {
    display: flex;
    min-height: 12rem;
    // background-color: var(--color-surface-tertiary);
    border-bottom: 1px solid var(--color-stroke-secondary);
    flex-flow: row nowrap;
    padding: 2rem;
    gap: 1rem;

    .col {
        display: flex;

        &:nth-child(1) {
            flex: 1;
            flex-flow: column nowrap;
            justify-content: end;
            align-items: start;

            .count {
                display: inline-flex;
                flex-flow: row nowrap;
                gap: .1em;
                font-size: 1.9em;
                font-weight: 600;
                color: var(--color-text-description);
                flex-flow: column nowrap;
                align-items: start;

                .value {
                    @include text-plug();
                }

                .currency, .afterword {
                    font-size: .34em;
                    @include text-plug();
                    overflow: hidden;
                }
                .change {
                    color: var(--color-accent);
                    @include cursor(pointer);
                    @include text-plug();
                }
                .description {
                    font-size: .19em;
                    color: var(--color-text-description);
                    line-height: 1.3;
                    font-weight: 400;
                    @include text-plug();
                }
            }
        }
        &:nth-child(2) {
            flex-flow: row nowrap;
            flex: 2;

            .block {
                background-color: var(--color-surface-secondary);
                border-radius: .4rem;
            }
        }
    }
}